[2016-02-15 12:33] RaananW commented on #23
thank you, formatting solved.

[2016-02-27 07:13] Temechon commented on #37
Fix incoming... I'll report back in few minutes after the build.

[2016-02-27 07:15] Temechon commented on #37
Error during build FYI
*warn: File content\tutorials\02_Mid_Level\18._Using_parallax_mapping.md.md doesn't exist.*

[2016-02-27 07:17] Temechon commented on #37
Page available now. Thanks for the report :)

[2016-03-30 18:10] GrosSacASac opened #97 "the pr process described in the readme is false or incomplete"
error message:It seems you do not have permissions blabla

[2016-03-30 22:30] Abdelkrim opened #99 "Using_The_Physics_Engine.md miss-pelllings"
some mispellings:

Introdution -> Introduction (missing R)
Bablon.js -> Babylon.js
phyisics -> physics
handlig -> handling
neccessary -> necessary
sphers -> spheres
Solide -> Solid ?!?
applys -> applies
pyhscis -> physics
phyysics -> physics
pyhscis -> physics (a second time)
bwtween -> between
inlustrations -> illustrations

that's all folks!

PS Nevertheslss I didn't understand the whole paper y

[2016-03-31 05:55] RaananW commented on #99
Thanks!
I'll fix those asap.

[2016-03-31 20:09] #99 closed

[2016-03-31 21:44] RaananW commented on #97
Care to share a bit more information?

[2016-03-31 21:47] RaananW commented on #98
Commited

[2016-03-31 21:58] GrosSacASac commented on #97
in your readme is written

1. Head to content folder. All markdowns files are located in this folder.
2. Edit markdown according to your need
3. Use ```grunt build```
4. Pull request :)

however to do a pull request you have to fork the repo first. but a bit before is also written and it s confusing to do git clone https://github.com/BabylonJS/Documentation.git. this does clone, but not fork, so w

[2016-03-31 22:06] RaananW commented on #97
Point taken.
Let me see how we can update the README.md file with this information.

Nonetheless, seems like you understood it rather quick :smile: so you can now send PRs.

[2016-04-05 13:25] Temechon commented on #97
Readme updated. Thank you for your comment :)

[2016-04-05 13:25] #97 closed

[2016-04-13 21:11] GrosSacASac opened #108 "broken link"
http://doc.babylonjs.com/classes/2.3/BaseTexture#new-basetexture-classes-2-3-basetexture-scene-

the tutorial link is a link that returns a 404 error

[2016-04-13 21:19] RaananW commented on #108
works here, could you check again?
maybe it was temporarily down, or the website was rebuilt.

[2016-04-13 21:22] GrosSacASac commented on #108
checked again still 404 (this link http://doc.babylonjs.com/tutorials/04._Materials)
also at

http://doc.babylonjs.com/classes/2.3/StandardMaterial#new-standardmaterial-classes-2-3-standardmaterial-name-scene-

broken http://babylondoc.azurewebsites.net/page.php?p=24706

[2016-04-13 21:26] RaananW commented on #108
Not sure where you get those links from (if they are linked internally, please let us know).
The 2nd link works. I don't get a 404. Same as the link from the original post. The Materials link is old, and the last link is a link to the old doc website, that no longer exists.
If those are links from the forum, there is sadly very little we can do about it. If they are linked internally in the doc pa

[2016-04-13 21:31] RaananW commented on #108
Ok, found the wrong places. It is all based on old code documentation. if you want to submit a PR correcting it, please do. If not, we will repair it soon.
Thanks!

[2016-04-17 21:46] #108 closed

[2016-10-22 15:19] bariscicek opened #240 "AbstractMesh onCollide callback signature is wrong"

[2016-10-22 15:24] #240 closed

[2016-10-22 15:25] bariscicek commented on #240
Seems like it is correct on v2.4 i checked old documentation. Closing for that reason.

[2016-10-28 05:20] jpcloud opened #251 "Deadlinks in Documentation"
Hi,

The Links under Physics Intermediate on the page http://doc.babylonjs.com/overviews/Documentation_Category_Map run into 404.

The dead links are:
    Using the Cannon.js Physics Engine http://doc.babylonjs.com/tutorials/Using_the_Cannon.js_Physics_Engine
    Using the Oimo.js Physics Engine http://doc.babylonjs.com/tutorials/Using_the_Oimo.js_Physics_Engine

[2016-10-29 00:40] deltakosh commented on #251
Fixed thanks!

[2016-10-29 00:40] #251 closed

[2016-10-29 00:41] deltakosh commented on #231
Hello I completely missed this question :)
can you please our forum:  http://www.html5gamedevs.com/forum/16-babylonjs/

[2017-01-02 17:56] boyofgreen opened #291 "search not working on doc site?"
Hi Guys, it seems like the search isn't working on the doc site.  I get a 500 error when I try to search in edge

[2017-01-02 19:05] deltakosh commented on #291
Hey my friend:)
Yes it is utterly slow for some reasons. Our Azure god (@raananW) is summoning some demons from hell to try to fix it

[2017-01-02 19:24] RaananW commented on #291
Howdy partners,

the jquery CDN is offline for some reason. I guess half of the world is wondering what happens!
The server is running correctly, I will wait a bit and see when they fix it or change to a different CDN.

[2017-01-02 19:24] #291 closed

[2017-03-26 14:01] mootari opened #372 "Dead links in http://doc.babylonjs.com/overviews/solid_particle_system"
**Page:**
http://doc.babylonjs.com/overviews/solid_particle_system

**Section:**

**Dead links:**
- "BJS Particle System":
  - Current target: http://doc.babylonjs.com/tutorials/12._Particles
  - Correct target: https://doc.babylonjs.com/tutorials/particles
- "Sprite Manager":
  - Current target: http://doc.babylonjs.com/tutorials/08._Sprites
  - Correct target: https://doc.babylonjs.com/tutorials

[2017-03-26 14:10] mootari commented on #372
I also ran a search on master for tutorial links in the old format and found more potentially broken links:

[code]

[2017-03-26 14:20] mootari opened #373 "Duplicate "Guide" link in footer"
The footer bar contains the "Guide" link to http://babylonjsguide.github.io/ twice in a row.

[2017-03-26 15:49] deltakosh commented on #373
Helo fabian and thnks for your feedback:) do you want to do a PR?

[2017-03-26 16:12] #373 closed

[2017-03-26 16:13] deltakosh commented on #372
Hello this is really cool!
Same question:  do you want to help with a PR? :)

[2017-03-26 16:14] deltakosh commented on #372
We changed the structure a few time ago and I missed these refs

[2017-03-26 16:31] mootari commented on #372
Since dead documentation links are the bane of every growing project, I wonder if this could somehow be turned into a post-deploy netlify test (I have absolutely no experience with their service)? Like, grep all domain paths, remove duplicates, check each route/path status?

[2017-03-26 16:33] deltakosh commented on #372
I completely agree. Ping @temechon and @sebavan who are more experienced in this area

[2017-03-26 16:43] mootari commented on #372
If I'm not mistaken most of these links are taken directly from https://github.com/BabylonJS/Babylon.js and need to be fixed there.

[2017-03-26 16:44] deltakosh commented on #372
correct

[2017-03-26 16:58] mootari commented on #372
In that case I would suggest adding all affected paths as redirects to https://github.com/BabylonJS/Documentation/blob/master/public/html/_redirects until a more general solution has been devised.

It might even be wise to dig up *all* old tutorial paths and add redirects for them, so that external legacy links will benefit as well.

[2017-03-26 17:25] deltakosh commented on #372
Ping @raananw (not sure this is easy to do)

[2017-03-26 17:55] RaananW commented on #372
Howdy!

Everything is possible. Just for me to understand, are those tutorials there with a wrong link, or are those pages "dead" and should be permanently redirected?

I'm mobile right now, but I'll look into it when I get home.

[2017-03-26 18:06] deltakosh commented on #372
dead links (introduced when we reshape the folders structure)

[2017-03-26 18:18] RaananW commented on #372
I can do it gladly, but if anyone else wants to do that, there is a file called _redirects in /public/html where permanent redirects can be added. Format is very simple :

/oldpath     /newpath

[2017-03-26 18:19] RaananW commented on #372
Each in a new line :smile:

[2017-03-26 18:26] mootari commented on #372
I started looking into deriving all necessary redirects from the git history of data/statics.json. While there are some cases that would require manual checks, all in all it should work. A major benefit would be that even intermediate changes would be covered (think e.g. old links from http://www.html5gamedevs.com/forum/16-babylonjs/).

Unfortunately I ran out of time, but I'll try to look into it

[2017-03-26 18:27] deltakosh commented on #372
No rush;) we appreciate the help

[2017-03-26 18:28] mootari commented on #372
To add to the above, the contents of /_redirects could then be used to regularly scan and update links both in BabylonJS/Documentation and Babylon.js.

[2017-04-09 07:28] Temechon opened #388 "Set all links to playground to https instead of http"
[retported from Twitter](https://twitter.com/FremyCompany/status/850846223602917376)

[2017-04-09 07:30] Temechon opened #389 "Bug when searching for (code=physics)"
http://doc.babylonjs.com/playground?code=physics

[code]

[2017-04-09 07:31] Temechon opened #390 "Add dropdown for all iterations for a given playground"

[2017-04-09 07:34] Temechon opened #391 "Graphical issues"
- [x] Font roboto semi-bold not found
- [x] Tags not displayed properly
- [x] The whole code is displayed if searched by tag/title

[2017-04-10 09:06] Jaskar commented on #388
Corrected : https://github.com/BabylonJS/Documentation/pull/393

[2017-04-10 09:07] Jaskar commented on #391
Corrected : https://github.com/BabylonJS/Documentation/pull/392

[2017-04-11 08:48] #391 closed

[2017-04-11 08:48] #390 closed

[2017-04-11 08:50] #388 closed

[2017-04-11 09:00] #389 closed

[2017-04-25 03:43] deltakosh commented on #372
Hey did you manage to find some times for this?

[2017-04-25 18:34] mootari commented on #372
I haven't, unfortunately, work got in the way.
I just took a look at my current code: So far I have a list of added and removed links taken from all changes to statics.json (per commit), and if I remember correctly I was looking for a good heuristic or library to diff them. Hopefully I'll find some more time to dig into it this weekend.
Btw, even if the approach may seem like overkill for this par

[2017-04-25 18:39] deltakosh commented on #372
Lol sounds good

[2017-04-27 08:06] Vinc3r opened #422 "playgrounds broke in Documentation/content/extensions/MaterialsLibrary/Water.md"
It seems that ocean shader doesn't work on playgrounds examples :
* http://www.babylonjs-playground.com/#1SLLOJ#15
* http://www.babylonjs-playground.com/#1SLLOJ#17
* http://www.babylonjs-playground.com/#1SLLOJ#18
* http://www.babylonjs-playground.com/#1SLLOJ#19
* http://www.babylonjs-playground.com/#1SLLOJ#20

[2017-04-27 08:23] CraigFeldspar commented on #422
Seems like it's still the old waterMaterial.js - that doesn't support UBO - which is used : `e.MaterialHelper.PrepareUniformsAndSamplersList(d,p,n,this.maxSimultaneousLights)` against `                BABYLON.MaterialHelper.PrepareUniformsAndSamplersList({
                    uniformsNames: uniforms,
                    uniformBuffersNames: uniformBuffers,
                    samplers: samplers,

[2017-04-27 13:03] deltakosh commented on #422
My bad.. I'll deploy the new mat lib

[2017-04-27 13:04] deltakosh commented on #422
You can do it if you want by updating the files here:https://github.com/BabylonJS/Website/tree/master/lib

[2017-04-27 15:03] deltakosh commented on #422
Fixed

[2017-04-27 15:03] #422 closed

[2017-05-03 02:22] stephstephsteph opened #424 "Broken link AND folder no found"
I run the command "grunt serve watch" and problem ... show:

**Error: ENOENT: no such file or directory, scandir 'C:\Users\steph\Documents\DEVELOPPEMENT\DOCUMENTATIONS\BabylonJS_DOC\Documentation\data\search'**

I create the folder "search" ... Yes i see the page web "localhost:3000", but I click on tab "tutorial" And I click on another choice. Example: "Cameras" and boom: **"404. Page not found"*

[2017-05-03 12:50] Jaskar opened #425 "Search problems"
When I search (globally) for ArcRotateCamera, no classes displays ...
http://doc.babylonjs.com/search?q=arc should return it...

[2017-05-03 13:18] #425 closed

[2017-05-05 13:09] Jaskar commented on #424
https://github.com/BabylonJS/Documentation/pull/428

[2017-05-05 13:11] #424 closed

[2017-05-12 06:41] Jaskar commented on #424
After testing it, won't work.

[2017-05-15 09:01] Jaskar commented on #372
I just finished to correct the listed moved links, and added them to the redirect file.
Thanks @RaananW for this file :)

https://github.com/BabylonJS/Documentation/pull/435

[2017-05-15 09:03] Jaskar commented on #372
Also, @dad72 video tutorials still have link with a number prefix. Is it okay ?
(http://doc.babylonjs.com/tutorials/01._3d_on_the_web_understanding_the_basics)

[2017-05-15 18:15] mootari commented on #372
I just noticed that none of the existing redirects below /classes work, even though all of them are technically valid according to https://play.netlify.com/redirects.

I have the theory that the source (and probably the target as well) needs to be lowercase in order for the redirect to work, possibly because Netlify automatically does a redirect to lowercase before processing the request.

[2017-05-25 08:05] deltakosh commented on #372
@Jaskar it should not :) can you look at it? Thank you so much!
@mootari thanks for the hint. @RaananW do you mind having a look?

[2017-05-25 17:51] Jaskar commented on #372
@mootari Are you sure ? This one works for exemple : http://doc.babylonjs.com/tutorials/02._Discover_Basic_Elements

@deltakosh Yup, I'll fix that this week-end (can't do it before).

[2017-05-25 18:04] mootari commented on #372
@Jaskar Very, because I did extensive testing regarding case in URLs, but I can't reproduce it anymore either. Might have been fixed by now.

[2017-05-26 06:49] Jaskar commented on #372
I think it was not deployed.
Don't hesitate to reply if you find dead links again :)
________________________________
From: Fabian Iwand <notifications@github.com>
Sent: Thursday, May 25, 2017 8:04:14 PM
To: BabylonJS/Documentation
Cc: Jaskar; Mention
Subject: Re: [BabylonJS/Documentation] Dead links in http://doc.babylonjs.com/overviews/solid_particle_system (#372)

@Jaskar<https://github.com/jas

[2017-05-26 11:54] mootari commented on #372
I was under the impression that deployment happens automatically after each successful push/merge.
Regardless, we should probably denote all redirect sources in lower case, just to avoid any potential conflicts.

[2017-05-26 16:44] Jaskar commented on #372
@deltakosh Done.
@mootari All in lowercase now, but it need a validation to merge "Master" branch to "Production" to be deployed ;)

[2017-05-29 08:17] Jaskar commented on #372
Ok, I forgot to change statics.json on my last commit.
There's my new PR : https://github.com/BabylonJS/Documentation/pull/444

[2017-05-31 01:24] deltakosh opened #454 "Finish Physics documentation"
Joints
Parent

[2017-06-10 19:18] #372 closed

[2017-06-21 14:38] Vinc3r opened #492 "Links to documentation in tutorials"
Many tutorials have links to documentation, some use broken links. They are often under this forms :
http://doc.babylonjs.com/classes/2.5/deviceorientationcamera (actual correct link) or http://doc.babylonjs.com/classes/deviceorientationcamera

It's kind of painstaking work to update them all.

Is there a way to make permanent links to an element in doc', even when the doc will update to 3.0 ? (li

[2017-06-21 14:40] Vinc3r commented on #492
Maybe a manual technique could be to open all .md, and doing a find & replace, but it can create bugs if we don't pay attention.

[2017-06-21 15:12] deltakosh commented on #492
Yes I think it could work
I'll give a try

[2017-06-21 15:30] deltakosh commented on #492
Can you point me to a broken one?

[2017-06-21 15:39] deltakosh commented on #492
Should be good now

[2017-06-21 15:39] #492 closed

[2017-07-14 17:32] deltakosh opened #525 "Documentation for CreateScreenshot"

[2017-07-14 17:34] deltakosh opened #526 "Improve WebVR documentation including support for fallbacks and controllers"

[2017-07-14 17:49] deltakosh opened #527 "Documentation about convertToFlatShadedMesh and automatic normal generation"

[2017-07-14 17:52] deltakosh opened #528 "Documentation for 3dsmax exporter"

[2017-07-14 17:53] deltakosh opened #529 "Documentation for Unity exporter"

[2017-07-14 17:59] deltakosh opened #530 "Documentation for scene construction helpers"
Need a simple doc to present how to use createDefaultCameraOrLighting and createDefaultSkybox

https://www.babylonjs-playground.com/#SIB60G#4

[2017-07-14 19:45] deltakosh opened #532 "Remove "working with blender" page"

[2017-07-17 09:40] dad72 opened #533 "Add images in tutorials"
I would see images of presentation of each mesh in this tutorial for example.

[http://doc.babylonjs.com/tutorials/mesh_createxxx_methods_with_options_parameter](http://doc.babylonjs.com/tutorials/mesh_createxxx_methods_with_options_parameter)

I think there are tutorials that should have pictures (for illustrated). I mean there are a lot of tutorials that only feature you text. Adding images can

[2017-07-17 15:00] deltakosh commented on #533
Like the idea

[2017-07-17 15:02] #532 closed

[2017-07-19 06:55] Hersir88 opened #538 "Animation end callback is also called on animation stop"
Add info about behaviour that onAnimationEnd is also called if it is manually stopped

[2017-07-19 06:59] Hersir88 commented on #538
Discussion on [http://www.html5gamedevs.com/topic/31690-animation-stop-and-onanimationend/](url)

[2017-07-19 12:58] #538 closed

[2017-07-24 06:04] Hersir88 opened #542 "Add information about node based compressed texture generator"
Add information about node based compressed texture generator

[2017-07-24 06:04] Hersir88 commented on #542
I am on it

[2017-07-24 06:04] Hersir88 opened #543 "Add information about node incremental file generator"
Add information about node incremental file generator

[2017-07-24 06:04] Hersir88 commented on #543
I am on it

[2017-07-24 13:40] #543 closed

[2017-07-24 13:41] #542 closed

[2017-08-02 04:19] deltakosh opened #548 "Update webgl2 to mention pow2 feature an how to turn it off"

[2017-08-02 04:49] deltakosh commented on #533
We store them here: https://github.com/BabylonJS/Documentation/tree/master/public/html/img

[2017-08-11 07:49] Vinc3r opened #556 "Documentation for Blender exporter"
I'm on it, trying to finish first version as soon as possible ;)
Everyone can (should?) suggest ideas/enhancement/requests/etc, here, or [in the forum](http://www.html5gamedevs.com/topic/36596-blender-exporter-doc-needs-feedback/).

Right now, this is the todo-list:

- [ ]  finish features list [quite done, need polishing and missing some cycles options],
- [ ] add good practice for amature animat

[2017-08-11 07:54] Vinc3r opened #557 "Update CSS"
As we can see in [blender doc](http://doc.babylonjs.com/exporters/blender#world), some html elements haven't css assigned:

- h4
- th
- th a

![css](http://i.imgur.com/oz5r9JG.png)

suggestion, use for now same css as h3:
[code]

[2017-08-11 13:38] deltakosh commented on #557
Do you mind creating a PR?

[2017-08-11 13:38] deltakosh commented on #556
Wonderful!!

[2017-08-11 14:25] Vinc3r commented on #557
No problem, I will do that asap

[2017-08-13 17:53] Vinc3r commented on #557
Do I have to edit main.css in [website/scss folder ](https://github.com/BabylonJS/Website/blob/master/scss/main.css)or [main.css in css folder](https://github.com/BabylonJS/Website/blob/master/css/main.css) ? or even[ main.scss ](https://github.com/BabylonJS/Website/blob/master/scss/main.scss)(in that case I don't know how scss works)

[2017-08-14 00:20] deltakosh commented on #557
Ping @temechon for validation of the tight procedure

[2017-08-14 23:40] deltakosh commented on #557
So after some investigations I think it should be in scss. Working on it :)

[2017-08-14 23:49] deltakosh commented on #557
actually I'll wait for @Temechon  :D

[2017-08-18 20:41] deltakosh commented on #563
Unfortunately we do not support canvas anymore.
I highly recommend using GUI instead: doc.babylonjs.com/overviews/gui

[2017-08-25 00:00] deltakosh opened #570 "Add documentation for gamepad support"

[2017-08-27 21:23] magp3 opened #573 "Tutorial on Cameras, Mesh Collisions and Gravity"
http://doc.babylonjs.com/tutorials/cameras,_mesh_collisions_and_gravity

~~The part with gravity does not seem to work. Not sure if I'm missing something..I thought perhaps the tutorial is outdated?~~

I realized that I need the physics engine enabled for this to work. I think the example code does not mention this and is rather confusing? What do I need the ellipsoid for if the physics engine is

[2017-08-27 22:01] deltakosh commented on #573
Hey do you mind asking this question on the forum?
And yes you are totally right, you were looking for physics as collisions only apply to FreeCamera.

Perhaps the doc is not clear enough :(

[2017-08-27 22:01] #573 closed

[2017-09-14 20:37] deltakosh commented on #558
This issue also exist on the pg search page :)

[2017-10-06 09:38] ranveeraggarwal opened #599 "Indentation inconsistencies with bullet lists"
I just started using/learning BabylonJS through the tutorials and noticed some inconsistencies in the bullet lists starting [here](http://doc.babylonjs.com/tutorials/discover_basic_elements).

![screenshot](https://user-images.githubusercontent.com/3941281/31272185-b361e66e-aaa7-11e7-88ba-8ec52b7bece0.png)

[Next tutorial](http://doc.babylonjs.com/tutorials/materials) onwards, the indents seem to

[2017-10-06 09:44] RaananW commented on #599
Hi,

We can work on that - the solution is rather straight-forward (as you say - a few newlines to be removed). Want to help out with a pull-request?

[2017-10-06 09:46] ranveeraggarwal commented on #599
Sure, I will send a PR soon 😄

[2017-10-06 12:34] ranveeraggarwal commented on #599
There seems to be an issue with the current markdown engine.

When I try something like

[code]

Instead of rendering as

* Text1
    Text2
    * Text3

    Text4

It renders as

* Text1
    Text2
    * Text3
    Text4

Would you consider changing/updating your markdown engine? Alternatively, you could use HTML tags for nested lists.

[2017-10-06 15:29] deltakosh commented on #599
cc @temechon

[2017-10-06 15:46] ranveeraggarwal commented on #599
My bad, it worked with a 2-space indentation. The markdown engine here is not 4-space indentation sensitive. This should probably be mentioned in the contributing guide/vscode settings.

[2017-10-06 19:18] ranveeraggarwal opened #601 "Missing image in Cameras, Mesh Collisions and Gravity Tutorial (9)"
The image here seems to be missing. I can see a link in the markdown, but it gives a 404.

<img width="830" alt="screen shot 2017-10-07 at 12 47 41 am" src="https://user-images.githubusercontent.com/3941281/31294613-2dbcfdf8-aaf9-11e7-8f55-1884a6656eb0.png">

[2017-10-06 23:04] #599 closed

[2017-10-06 23:04] deltakosh commented on #601
Do you mind to submit a PR to remove the images?

[2017-10-07 17:07] #601 closed

[2017-10-18 13:51] #528 closed

[2017-10-20 08:15] RaananW opened #623 "Update ActionManager documentation"
new state and error handling.

[2017-10-23 19:13] ashanhol opened #628 "Create VR Resource"
There's currently no guide under General, Tutorials, or Overviews that details the VR offerings from Babylon.js.

I plan to create a guide that would show things such as:
- Creating a reticle
- VR input/cameras
- UI (used for something like score)
- spatialized sound

(I'd self assign if I could)

[2017-10-23 19:19] deltakosh commented on #628
This is great:) please just wait for the big PR to be nerged

[2017-10-25 19:42] deltakosh opened #634 "Rename how_to to How To"

[2017-10-25 20:04] RaananW commented on #634
note that this might require reindexing the how-to tutorials, please let me know when it is done.

[2017-10-26 06:59] QuentinRillet commented on #634
Hi @deltakosh ,

Where is it ?

[2017-10-26 07:38] RaananW commented on #634
The search results have how_to in their title (for example - http://doc.babylonjs.com/search?q=highlight ) That's the first place I could find it in.

[2017-10-26 13:52] deltakosh commented on #634
Exactly. It is in every page from the how to (in the header)

[2017-10-26 16:51] deltakosh commented on #634
Ping @temechon and @quentinrillet

[2017-10-31 13:03] BabylonJSGuide commented on #634
Woops a few days ago I tested out my idea for replacing _ in How_To with a local build and it worked. In my last commit these changes in search.js were still in place so got committed and pushed. Honestly I am not trying to take over the documentation (or perhaps it is just my first step to world domination :) )

[2017-10-31 13:46] deltakosh commented on #634
Which commit was it?

[2017-10-31 13:55] BabylonJSGuide commented on #634
ced79cc but please note that though the change was not supposed to have been left in it does appear to solve the hyphen problem. Leave it to you as to what you want to do.

[2017-10-31 14:01] deltakosh commented on #634
This is perfect :)

[2017-10-31 20:27] RaananW commented on #634
Should I reindex the how-tos?

[2017-10-31 20:30] #623 closed

[2017-10-31 20:38] deltakosh commented on #634
Nope that's the magic of it

[2017-10-31 20:39] RaananW commented on #634
They are still shown as How_To in the search index - http://doc.babylonjs.com/search?q=highlight (even after reindexing)

[2017-10-31 20:59] RaananW commented on #634
And then I'll have to reindex ;)

[2017-10-31 21:01] deltakosh commented on #634
Sure you like it

[2017-11-08 00:03] deltakosh commented on #634
Can we reindex? ping @QuentinRillet

[2017-11-08 00:10] deltakosh opened #655 "Mention kernelBlur on mirror documentation"
http://doc.babylonjs.com/how_to/reflect#mirrors

Sample:
https://www.babylonjs-playground.com/#LVTTQX#1

[2017-11-08 00:11] deltakosh commented on #655
(should mention adaptiveBlurKernel which will compute the blur kernel based on viewport size and blurKernel which will use a static one)

[2017-11-08 09:04] Temechon commented on #634
I don't see any underscores in the search result... It seems it has already been done: https://github.com/BabylonJS/Documentation/commit/ced79cc8c04164ecb2066049601bfc339148138d#diff-7150cea0f9818367b6d63c04bcfead00
And I don't think we need to reindex as everything is in the js. But if you really want to reindex, you can do it :)

[2017-11-08 14:45] deltakosh commented on #634
Good :)

[2017-11-08 14:45] #634 closed

[2017-11-09 09:40] BabylonJSGuide commented on #655
Done

[2017-11-09 09:40] #655 closed

[2017-11-20 14:24] fabsharp commented on #525
Do I have to use existing [Render_Scene_on_a_PNG.md](https://github.com/BabylonJS/Documentation/blob/master/content/How_To/scene/Render_Scene_on_a_PNG.md) ? There are some dead links and - no offense - but it's not very helpfull :p .

[2017-11-20 15:12] BabylonJSGuide commented on #525
Thank you for bringing the dead links to our notice. Without users bringing them to our notice they are easily missed. The links are to an external website that no longer appears to be available and they will have to be recreated and stored internally.  It does give users a choice of using CreateScreenshot or PrtScr so IMHO it remains but needs new images.

[2017-11-20 15:18] deltakosh commented on #525
Agree with @babylonjsguide
Do not under estimate what people may need. We are not all skilled developers like you

[2017-11-20 16:09] fabsharp commented on #525
@BabylonJSGuide, @deltakosh, the "not very helpfull" wasn't appropriate sorry !

[2017-11-20 16:11] deltakosh commented on #525
No worry:)

[2017-11-21 23:03] TrevorDev commented on #570
https://github.com/BabylonJS/Documentation/pull/688

[2017-11-23 15:09] BabylonJSGuide commented on #525
Have updated the page. Depending on whether I have misunderstood how to apply CreateScreenshot or not there may be a couple of issues with the original article. These I have corrected. If I have misunderstood please let me know how the following two things can be achieved and I will correct my update and provide examples.

1.
Original - Another cool aspect of using this feature is that you can use

[2017-11-24 19:48] sebavan commented on #525
Hello @BabylonJSGuide ,

About 1. The camera is only use to collect the desired aspect ratio. The rendered image will be the canvas itself in any case. I am suspecting it is to prevent weird artifacts on the canvas during the screenshot. Bascially rendering from a special camera needs to be addressed through the CreateScreenshotUsingRenderTarget function.

About 2. correct aspect ratio does not ch

[2017-11-26 10:34] #454 closed

[2017-11-30 04:20] sebavan commented on #696
Deployment in progress thanks for reporting.

[2017-12-01 02:46] #527 closed

[2017-12-01 02:47] #548 closed

[2017-12-01 02:48] #525 closed

[2017-12-05 19:30] deltakosh opened #705 "Fix how return value is displayed"
http://doc.babylonjs.com/classes/3.1/abstractmesh#gethierarchyboundingvectors-rarr-min-vector3-classes-3-1-vector3-max-vector3-classes-3-1-vector3-

[2017-12-05 19:43] deltakosh opened #706 "Params are not retrieved correctly"
http://doc.babylonjs.com/classes/3.1/uniformbuffer#updatematrix3x3-name-string-matrix-float32array-gt-void

[2017-12-08 16:17] Temechon commented on #706
Fixed in commit https://github.com/BabylonJS/Documentation/commit/38d81bdea84a759bedaba58ee543f1faf77484d1

[2017-12-08 16:17] #706 closed

[2017-12-08 19:10] #526 closed

[2017-12-08 19:12] deltakosh commented on #557
Upppppp ;D

[2017-12-08 19:12] #628 closed

[2017-12-08 19:12] deltakosh commented on #556
what's up here?

[2017-12-08 19:13] deltakosh commented on #533
CLosing for now. Please reopen if still alive :)

[2017-12-08 19:13] #533 closed

[2017-12-09 22:33] mootari opened #712 "API builder parses union types incorrectly, adds members and parameters for additional types"
When a member or parameter declaration contains a [union type](https://www.typescriptlang.org/docs/handbook/advanced-types.html#union-types), the parser detects additional types after `|` as a separate member/parameter.

This happens all over the place. A good example is [VertexData](https://doc.babylonjs.com/classes/3.1/vertexdata):
<img width="547" alt="vertexdata" src="https://user-images.githu

[2017-12-09 22:37] mootari commented on #712
It looks like both the parser that creates the AST as well as the docs pages are custom implementations. Was this done to reduce deployment complexity (dependencies, reliance on 3rd party tools), or because no viable alternatives existed at that time?

[2017-12-09 23:21] deltakosh commented on #712
We did not find good stuff 3years ago but if you know something worth looking please let me know

[2017-12-09 23:28] mootari commented on #712
http://typedoc.org/ might be worth a try. What are special features provided by the custom implementation that may not be available in a generic solution?

[2017-12-09 23:44] mootari opened #713 "Implement typedoc as replacement for current API builder"
Follow-up to #712.

Preparations:
- [ ] The file `data/classes-tags.json` that gets generated during the build (from markdown metadata in the class files) will have to be added to the repo.
- [ ] #714

Tasks:
- [ ] Setup a script to generate API pages for https://github.com/BabylonJS/Babylon.js/tree/master/src using http://typedoc.org/
- [ ] Create a configuration and custom theme to match the cur

[2017-12-10 02:14] mootari commented on #713
TypeDoc looks promising, but has issues of its own. We'll definitely need a custom theme, and rendering markdown files doesn't seem to be supported easily/natively (https://github.com/TypeStrong/typedoc/issues/174 and related issues).

Another problem is that the API docs need to be integrated into the existing site structure. I didn't dive in too deep in the current building process, but I expect

[2017-12-10 02:32] mootari commented on #712
I expect that switching to typedoc would be a lot more involved than just tackling the issue in the current builder, as described in my comment in #713.

The current builder relies on the `typescript-services` package for the AST which in turn has been marked as obsolete and had its last update in 2014. I suspect that switching to the new node API for the TypeScript parser should get rid of the gh

[2017-12-10 02:39] mootari opened #714 "Remove obsolete importer code"
The repo currently contains `/scripts/helpers/importer` which seems to have been used in the past to migrate content from a now defunct[ old documentation site](http://babylondoc.azurewebsites.net).

I suggest to remove this code to make it easier for contributors to find their way around the source.

The (currently non-functioning) forwarder code for old php-style URLs needs to be replaced with a

[2017-12-10 02:45] deltakosh commented on #714
Please do:)

[2017-12-10 02:45] deltakosh commented on #712
Do you mind trying to move to the new API?

[2017-12-10 04:50] mootari commented on #712
Sooo ... typescript-services essentially uses a compiled typescriptServices 1.0.0 where union types didn't even exist. In early 2015 TypeScript moved its compiler API around, and since then the compiler related APIs are no longer exposed to NodeJS.

There may be ways to patch typescript to reexpose them, but I'd argue that the time is better spent moving to TypeDoc and making it work for BabylonJS

[2017-12-10 05:58] deltakosh commented on #712
whatever works :)

[2017-12-10 11:30] mootari commented on #714
Can we also get rid of anything that handles forwarding from the old `/page.php?p=123` style URLs?

[2017-12-10 14:33] mootari opened #715 "Remove external and temporary content"
Several files have been copied over from https://github.com/BabylonJS/Babylon.js or are only required during the build process. As a result these are often differ from the original source.

I propose to remove these from the Documentation repo and pull them in (or generate them) on demand. Benefits:
- Forces documentation errors to be fixed in the actual source first.
- Reduces size of shallow clo

[2017-12-10 14:54] deltakosh commented on #714
Yes:)

[2017-12-10 14:56] deltakosh commented on #715
So you would prefer moving them manually to documentation repo? I don't see it as an improvement:)

[2017-12-10 15:00] mootari commented on #715
On the contrary. Pull them automatically in during the build.

[2017-12-10 15:00] deltakosh commented on #715
Wonderful;) you are a savior man!!

[2017-12-10 16:34] mootari commented on #714
Additional files for removal:
- scripts/create-forward.js
- scripts/create-list-pages.js
- scripts/import-md-from-azure.js

[2017-12-10 17:39] mootari commented on #714
Forwarder code for /page.php style URLs cannot yet be removed. There are dozens of page.php links in the current docs.

[2017-12-10 17:43] deltakosh commented on #714
Perhaps we can just auto update .md content once and for all

[2017-12-10 17:44] mootari commented on #714
I'm creating a manual list of redirects right now.

[2017-12-10 17:58] mootari commented on #714
|ID|Page
|-|-
|21911|**MISSING**
|22081|content/babylon101/babylon101/Animations.md
|22531|content/How_To/events/How_to_use_Actions.md
|22581|content/How_To/scene/How_to_use_SceneOptimizer.md
|22591|content/How_To/mesh/How_to_use_LOD.md
|22601|content/How_To/material/How_to_use_Procedural_Textures.md
|22611|**MISSING**
|24822|content/How_To/mesh/In-Browser_Mesh_Simplification.md
|24824|content/How

[2017-12-10 18:20] mootari commented on #714
There's no redirect for the missing `content/tutorials/03_Advanced/Using_the_Debug_Layer.md` - what would be the closest equivalent?

[2017-12-10 18:33] mootari commented on #714
That can't be good: forwarding of php.php redirects doesn't work at all at the moment, e.g. http://doc.babylonjs.com/page.php?p=24828

[2017-12-10 18:36] mootari commented on #714
Some more duplicates:
- 22011:
  - content/babylon101/babylon101/Discover_Basic_Elements.md
  - content/How_To/mesh/Set_Shapes.md
- 22151:
  - content/babylon101/babylon101/Raycasts.md
  - content/babylon101/babylon101/Shadows.md

Also, should we redirect class pages to 3.0 or 3.1 if the ID is present for both? I assume 3.1?

[2017-12-10 18:45] mootari commented on #714
Duplicate IDs for classes:
- 25193:
  - Collider
  - WorkerReplyType
  - WorkerTaskType
- 25248:
  - BezierCurve
  - Orientation
- 25263:
  - SimplificationQueue
  - SimplificationType
- 25290:
  - StereoscopicInterlacePostProcess
  - TonemappingOperator
- 25336:
  - AsyncLoop
  - JoystickAxis

[2017-12-10 18:46] mootari commented on #714
@deltakosh I need you to go through the above duplicates and tell me which one to pick for each case, so that I can compile the final list of redirects.

[2017-12-10 19:10] BabylonJSGuide commented on #714
There's no redirect for the missing content/tutorials/03_Advanced/Using_the_Debug_Layer.md - what would be the closest equivalent?

content/features/PGsupport/Playground_debuglayer.md

[2017-12-10 19:29] mootari commented on #714
Thanks, added!

[2017-12-11 10:20] Temechon commented on #557
Wow sorry I didn't read the notif :( Yes indeed you jave to update the scss file. It's basically the same as CSS but with a lot a features added. Simple css works correctly.
In order to test your changes, you have to recompile the main.css file with the command 'grunt sass'.

Feel free to get back to me via this issue if you have any trouble, I'll be happy to do it for you !

[2017-12-11 16:19] #705 closed

[2017-12-11 20:01] mootari commented on #713
Any chance we could create a gitter for this repo and get the team to join there? Would be great if I could just throw in some question now and then about the current structure without having to abuse the issues as a Poor Man's Chat.

[2017-12-11 20:35] deltakosh commented on #713
I'm not used to Gitter nut I do like chatting  here:)

[2017-12-11 22:43] mootari commented on #713
Well, this is fun. The gist of the classes markup is created in the various writers as markdown, then later on rendered. These parts need to be moved to pug mixins. Strategies:
1. Extract from builder and compiler script.
    - Pros: Easier to spot individual components.
    - Cons: Working in multiple files, lots of interdependencies. Also, maek brain hurrt.
2. Reverse engineer from compiled html

[2017-12-11 22:59] mootari commented on #713
Might be a good idea to get rid of *any* markup in the scripts and instead pass everything through pug templates. That would include any customizations to the markdown renderer output.

[2017-12-11 23:01] deltakosh commented on #713
As long as we can keep the content into md I'm fine with all required changes

[2017-12-11 23:04] mootari commented on #713
Yeah, I'm definitely not touching those. On the contrary, I think we can move some metadata from statics.json into the md files. But that's a project for another day.

[2017-12-11 23:04] deltakosh commented on #713
lol

[2017-12-11 23:31] mootari commented on #713
I think we can use a pug filter to automatically link classes. That way we don't have to pass around paths.

[2017-12-11 23:54] mootari commented on #713
Enums in current docs are slightly broken: https://doc.babylonjs.com/classes/3.1/orientation

What should this look like? Skip the second heading and simply print "enumeration" inside a paragraph?

[2017-12-12 00:01] mootari commented on #713
Constructors: https://doc.babylonjs.com/classes/3.1/action

Is the whole constructor signature really supposed to be wrapped in h2? Looks like an oversight / error to me?

[2017-12-12 00:02] deltakosh commented on #713
Agree

[2017-12-12 16:32] deltakosh opened #720 "Create good starter kit for BabylonJS with ES6, NPM and Webpack"

[2017-12-12 21:15] mootari commented on #713
Btw, I was wondering (again, project for another day): Perhaps we should handle all redirects through express (we could still keep them in a json)? That would allow us to keep tabs on the ones that are actually needed (and purge obsolete ones after a while). Additionally we could implement some fuzzy logic in case of 404's or display a page with search results (while still issuing a 404, of course

[2017-12-12 21:25] deltakosh commented on #713
let's discuss it after this one is done ;)

[2017-12-18 18:43] Vinc3r commented on #557
Css seems to have been update since I posted this issue. I think I can close that. (great thing because I would certainly not trying to recompile some things :-D )

[2017-12-18 18:43] #557 closed

[2017-12-18 18:53] Vinc3r commented on #556
Since few weeks I haven't so much time to give to the doc', sorry ! :-/
I think the first steps is done, but I still have some ideas to enhance it... but for now I don't know when I could.

[2017-12-20 19:11] deltakosh opened #725 "Add documentation for VRHelper gaze and interaction support"

[2017-12-21 17:12] deltakosh commented on #725
Also mention VRHelper.raySelectionPredicate

[2017-12-21 17:19] deltakosh opened #726 "Documentation for AnimationGroup"
PG here: https://www.babylonjs-playground.com/#CBGEQX#1

Need also to mention that AG can:
- update speedRatio
- notify onAnimationEndObservable

Code: https://github.com/BabylonJS/Babylon.js/blob/master/src/Animations/babylon.animationGroup.ts

Thanks a lot!

[2017-12-22 16:56] deltakosh opened #729 "Improve scene.createDefaultEnvironment() documentation"

[2017-12-22 17:16] deltakosh commented on #729
Fixed with #727

[2017-12-22 17:16] #729 closed

[2017-12-28 13:07] mootari commented on #713
Should we mark 3.1 class pages as canonical URLs for 3.0 class pages, so that Google will only find the current version?

[2017-12-28 14:48] deltakosh commented on #713
This is an excellent idea.

[2018-01-03 17:48] deltakosh opened #741 "Improve documentation SEO"

[2018-01-03 20:09] BabylonJSGuide commented on #726
Added today

[2018-01-03 20:09] #726 closed

[2018-01-03 20:16] deltakosh commented on #726
Much appreciated

[2018-01-07 04:41] jppresents opened #748 "GettingStarted Page: Babylon Links switches between example code snippets"
It starts with:

    <script src="https://cdn.babylonjs.com/babylon.js"></script>

but in the full html file it switches to (after eel free to copy-paste the following code in your index.html file):

    <script src="babylon.2.3.debug.js"></script>

Link: http://doc.babylonjs.com/#getting-started

[2018-01-07 12:14] BabylonJSGuide commented on #748
Thank you for spotting and starting an issue

[2018-01-07 20:40] #748 closed

[2018-01-07 21:44] mootari opened #750 "Prevent browser autocompletion from other sites bleeding into search field"
The search field currently uses the name `q` which is also used by hundreds of other sites.
This causes browsers (especially Chrome) to provide suggestions which will lead to zero results on doc.babylonjs.com:
<img width="282" src="https://user-images.githubusercontent.com/322014/34654439-c8a3e246-f3fb-11e7-85d7-4b1f4ac0bbca.png">

I strongly recommend to use a different name, e.g. `bjsq`, to limi

[2018-01-07 21:45] deltakosh commented on #750
Please rename it:)
That looks like an easy fix:)

[2018-01-07 22:04] mootari commented on #750
Would you also be open to exploring alternative search backends, like lunrjs (precompiled index with client side execution)? My hope is that this will allow us to improve the overall search experience by a large margin.

[2018-01-08 00:47] deltakosh commented on #750
Open to everything. So far the index search cost me money so yes:)

[2018-01-09 21:23] G-Rath opened #753 "Bad link in how_to_use_actions page"
Under the '[Sprites](https://github.com/BabylonJS/Documentation/blob/master/content/How_To/events/How_to_use_Actions.md#sprites)' header:

`http://www.babylonjs...nd.com/#9RUHH#5` is an invalid link.

Slightly related question: is there any documentation for the parameters of actions? (as in `{ trigger: BABYLON.ActionManager.OnKeyUpTrigger, parameter: "r" }`)

[2018-01-09 21:50] deltakosh commented on #753
Thank you for reporting this issue!
It should be fixed now

We are in the process of enforcing comments for all functions but so far we do not have it yet :)

feel free to ask here about specific parameters in the meantime

[2018-01-09 21:50] #753 closed

[2018-01-09 22:41] G-Rath commented on #753
@deltakosh When I say parameters, I don't mean for functions.

I'm referring to the "parameters" property of actions.

Take this example from the same page:

[code]

From that it seems that for `OnKeyUpTrigger` the parameter property is expected to be a string that is compared to the `evt.sourceEvent.key` property.

Then there's this example:

In the first code example, parameter apparently can be

[2018-01-09 23:00] deltakosh commented on #753
All trigger comes with an actionEvent which is defined here:
https://github.com/BabylonJS/Babylon.js/blob/master/src/Actions/babylon.actionManager.ts#L6

You can see that the sourceEvent is something coming from the browser itself.

So in this case:
[code]
the sourceEvent is a DOM key event (and not a Babylon object).

The only specific parameter you can get from a trigger is the one you mentioned

[2018-01-09 23:27] G-Rath commented on #753
Based on what I can find in the code, it seems like the only triggers that support specific parameters are the key triggers, and the intersection triggers.

To me neither are *specifically* defined; they're used in examples, and so to me represent one possible parameter. But from my interpretation of your comment, it is meant to be treated as a specific definition. i.e. an example of the new prope

[2018-01-10 02:30] G-Rath opened #756 "features/position,_rotation,_scaling has incorrect links"
https://doc.babylonjs.com/features/position,_rotation,_scaling
https://github.com/BabylonJS/Documentation/blob/master/content/features/component/Position,_Rotation,_Scaling.md

`frame of reference` links to `features/Frame_Of_Reference` ([which gives a 404](https://doc.babylonjs.com/features/Frame_Of_Reference)) when it should link to `resources/frame_of_reference`

[2018-01-10 03:59] deltakosh commented on #756
Fixed! thanks for pointing it out!

[2018-01-10 03:59] #756 closed

[2018-01-10 04:02] deltakosh commented on #753
It is not an easy task to write good documentation. Would you mind trying to update the page to something that could look clearer to you? This could be invaluable help for us

Also you mention "quirks", can you give a list so we can try to improve?

regarding OnPointerOver (as stated in the [doc](http://doc.babylonjs.com/how_to/how_to_use_actions#triggers)), it is a mesh only action so you cannot

[2018-01-10 08:09] G-Rath commented on #753
@deltakosh I have a bit of a love/hate relationship with documentation writing, so I can sympathise.

Heres an example of how I might do the page: https://gist.github.com/G-Rath/2e80f878fd4e1f8a89c5f15905912f5d

It looks a little squished because of gist's max-width.
I'd suggest moving to ES6, such as using arrow functions.
I'd also look to use tables, but I couldn't be bothered right now :P

I al

[2018-01-10 16:28] deltakosh commented on #753
This is really good! Please send a PR :) I will gladly merge it

We cannot use ES6 arrow functions though because we want to support all browsers (including ie11 or mobile browsers)

I'm not also satisfied by our dropdown and we need to spend time to revisit documentation UI (but we also need to add more doc, it is an infinite process...)

Our philosophy is to make sure people do more with less co

[2018-01-10 18:58] G-Rath commented on #753
I had a feeling that would be the case :'(

Personally I'm for using basic ES6 features such as template string literals and arrow functions, as to encourage movement away from legacy browsers like IE11 (which is the only mainstream browser that doesn't support those two features, unless you count Opera Mini), and compilers like Babel can be used to bridge the compatibility gap. For now I'm happy

[2018-01-10 20:21] deltakosh commented on #753
Thanks a lot for your appreciated help:)
You can check all open issues we have here in this repo

[2018-01-12 17:18] deltakosh opened #761 "Add documentation for Lightmap support"
- [x] BABYLON.Light.LIGHTMAP_DEFAULT
- [x] BABYLON.Light.LIGHTMAP_SHADOWSONLY
- [x] BABYLON.Light.LIGHTMAP_SPECULAR

[2018-01-12 21:45] #761 closed

[2018-01-14 22:03] mootari opened #768 "Add a license"
This project is currently missing a license which essentially means that both source code and documentation texts have to be considered as all rights reserved.

Because this documentation has seen several homes and has been improved and extended by many people, adding a license now might be more difficult than just dropping in a file. Considerations:
- Which license would be appropriate? (BabylonJ

[2018-01-14 22:15] mootari commented on #768
Relevant: https://www.quora.com/If-I-make-a-project-with-the-MIT-license-do-contributors-own-the-code-that-they-commit

[2018-01-14 22:49] deltakosh commented on #768
We can use apache2. I'll be the original author
No split license

Thanks a lot for rising this

[2018-01-15 00:56] #768 closed

[2018-01-17 22:26] #725 closed

[2018-01-17 22:36] DavidHGillen opened #775 "Documentation cannot currently handle one line comments"
The documentation builder cannot parse a class comment like
`/** The fog is deactivated */`

In order to get processed it needs to be written as
[code]

See the Scene class for examples

[2018-01-17 22:37] DavidHGillen opened #776 "Documentation currently doesn't understand getters"
A public getter
`public static get FOGMODE_EXP(): number`
when processed by the documentation compiler, generates
`static readonly : undefined`

See the Scene class for examples

[2018-01-17 22:41] DavidHGillen opened #777 "Trying to include a code sample in a document gets it turned into a link"
[code]
will compile to the attached image
![image](https://user-images.githubusercontent.com/932765/35071076-c6a75196-fb9c-11e7-8781-0bc1fc6c76fb.png)
This still occurs for ` code blocks as well

[2018-01-17 22:42] deltakosh commented on #777
This is a known issue as we do not support sample directly. I suggest using link to the Playground for instance

[2018-01-17 22:42] #777 closed

[2018-01-17 22:44] deltakosh commented on #777
As a side note @mootari is working on a lot of improvements for the documentation site :)

[2018-01-17 22:59] DavidHGillen opened #778 "Function parameters that take multiple types do not document correctly"
When parsing a block like this
[code]
The output is like the attached image
![image](https://user-images.githubusercontent.com/932765/35071793-3dd23fc2-fb9f-11e7-8e3d-28f7f1926b03.png)
Despite trying several different formatting styles in the comment it always generates an error

[2018-01-20 01:24] mootari opened #781 "[Roadmap] API generation improvements"
Meta issue to track problems with and feature requests for the current API docs.

**Note:** If you want something added to this list please create a new issue and include a reference to #781.

- [x] API builder parses union types incorrectly, adds members and parameters for additional types #712
- [x] Implement typedoc as replacement for current API builder #713
- [x] Documentation cannot currentl

[2018-01-20 01:38] deltakosh commented on #781
Great idea

[2018-01-20 11:34] mootari commented on #714
@deltakosh I still need feedback on those duplicate IDs in my earlier comments. They were likely copied over when someone added new markdown files and used old ones for reference.

[2018-01-20 15:48] deltakosh commented on #714
You can remove all of them. I'll fix the redirect manually later on

[2018-01-20 16:55] mootari commented on #713
Obsolete, since we're dropping 3.0 API docs (see [comment](https://github.com/BabylonJS/Documentation/pull/737#issuecomment-359132679)). Add redirects from `/classes/3.0/*` and `/classes/3.1/*` paths to `/classes/stable/*` instead, with a final catchall to the `/classes/stable` index page.

We might also want to consider changing `/classes` to `/api`.

[2018-01-20 16:56] deltakosh commented on #713
agree

[2018-01-21 11:11] mootari commented on #714
I just noticed that Netlify only offers static hosting. Does that mean that we can rip out anything related to express?

[2018-01-21 17:21] deltakosh commented on #714
This is correct. Only local JS code

[2018-01-24 17:35] RaananW opened #785 "Update Observable with notifyObserversWithPromise and eventState.lastReturnedValue"
https://github.com/BabylonJS/Babylon.js/pull/3618

[2018-01-25 13:45] BabylonJSGuide opened #787 "Plane v PlaneGeometry"
In the current documentation `class Plane` is described as `new Plane(id, scene, size, canBeRegenerated, mesh, side)' . When used in this way both the stable and latest versions of BJS produce an object containing NaNs. The usage seems to be new Plane(a, b, c, d) where a, b, c and d  form the equation of the plane ax + by + cz + d = 0

class PlaneGeometry appears to be new for BJS 3.2 and hence wo

[2018-01-25 15:09] deltakosh commented on #787
Actually PlaneGeometry is not new but it was undocumented. It is an geometry  only object used to load.babylonjs file.

So nothing to change:)

[2018-01-25 16:19] BabylonJSGuide commented on #787
What about the difference between the documentation for `Plane` and its usage?
In the  documentation  - class Plane is shown as constructed by

 `new Plane(id, scene, size, canBeRegenerated, mesh, side)' .

When used in this way both the stable and latest versions of BJS produce an object containing NaNs. The usage seems to be

`Plane(a, b, c, d) where a, b, c and d form the equation of the plane

[2018-01-25 16:22] deltakosh commented on #787
Can you point me to the documentation you mention?

[2018-01-25 17:08] BabylonJSGuide commented on #787
[http://doc.babylonjs.com/classes/3.1/plane](http://doc.babylonjs.com/classes/3.1/plane)

You can see in the console what happens if you use as given in the documentation
[https://www.babylonjs-playground.com/#FYFLAZ#1](https://www.babylonjs-playground.co/#FYFLAZ#1)

but everything OK if you use Plane(a, b, c, d)
[https://www.babylonjs-playground.com/#FYFLAZ#2](https://www.babylonjs-playground.com

[2018-01-25 22:25] deltakosh commented on #787
Ok the http://doc.babylonjs.com/classes/3.1/plane is completely broken
Hopefully the new API generator will fix it

I keep this issue open to make sure to check it

[2018-01-26 13:37] RaananW commented on #787
PlaneGeometry is technically Geometry.Plane.
It is not new, but doesn't exist with the same syntax in 3.1 . 3.2 will not have the Geometry module anymore, there are a few "new" classes that moved from there (such as BoxGeometry and SphereGeometry).
We actually had 2 Plane classes in different namespaces. The Plane class comes either from the math file or geometry. Starting 3.2, Plane is a math-onl

[2018-01-26 15:10] deltakosh commented on #787
Oh yeah! Now I remember
So everything should be fine in 3.2 regarding documentation

[2018-01-26 15:10] #787 closed

[2018-02-14 00:20] TrevorDev opened #826 "Improve docs for raySelectionPredicate, meshSelectionPredicate, onNewMeshSelected, onNewMeshPicked"
I had implemented some picking logic using the raySelectionPredicate function and didn’t realize that the teleportation uses that too. I’m still pretty unclear on the intended difference between `raySelectionPredicate` and `meshSelectionPredicate`. Also `onNewMeshSelected` vs `onNewMeshPicked`. The documentation here is all I could find and it’s definitely not clear.

https://doc.babylonjs.com/how

[2018-02-14 01:05] deltakosh commented on #826
Pinging @CarlosLanderas

[2018-02-14 22:00] CarlosLanderas commented on #826
Hi @deltakosh  and @TrevorDev .
When I started developing my project I was a little bit confused too about the raySelectionPredicate and meshSelectionPredicate. Basically, both rays are used for interaction and teleportation at the same time.
The raySelection predicate composes your predicate with an internal one in VRHelper. That predicate checks if the collided mesh is a floor mesh and the confi

[2018-03-07 00:56] deltakosh opened #844 "Add doc for particle subEmitter"
- [ ] PG: https://www.babylonjs-playground.com/#9NHBCC#1
- [ ] Particles documentation
- [ ] Also update GPU particles to mention that subemitters are not supported

[2018-03-07 01:13] deltakosh commented on #844
pinging @IbraheemOsama

[2018-03-07 16:51] deltakosh opened #846 "Picture issue"
http://doc.babylonjs.com/resources/3dsmax_to_gltf

in the "how to export 3d model.."

thanks a lot :)

[2018-03-08 09:14] BabylonJSGuide commented on #846
done and PR #848 submitted

[2018-03-08 09:14] #846 closed

[2018-03-11 22:52] #844 closed

[2018-03-11 22:53] deltakosh opened #855 "Review english for particles doc"
https://github.com/BabylonJS/Documentation/edit/master/content/babylon101/babylon101/Particles.md

I guess we need you to check the english here :) A lot of non native writers added stuff to this page :)

[2018-03-13 09:05] BabylonJSGuide commented on #855
Having read the page through, on editing it is my intention to leave particle system creation, emitter type (ie box, sphere and cone) and animation particles in babylon 101 and move custom effects and GPU particles to a page in "How To". Is this OK with you?

[2018-03-13 12:43] deltakosh commented on #855
You're the boss:) as long as they are referenced in the 101, this is perfect for me

[2018-03-14 12:50] BabylonJSGuide commented on #855
Found a bug see BJS issue #3947

[2018-03-16 10:40] BabylonJSGuide commented on #855
Am still doing this just doing a more extensive revision than envisaged - more explanation and more playgrounds. Should be done by middle of next week.

[2018-03-16 14:58] deltakosh commented on #855
No rush:)

[2018-03-16 16:37] RaananW opened #867 "Generate sitemap with every deployment"

[2018-03-16 16:38] RaananW opened #868 "Using Typedoc to generate class documentation"

[2018-03-19 05:51] sebavan commented on #855
Hello @BabylonJSGuide , would be amazing if you could review my bad english in the shadows update :-)

[2018-03-19 17:13] BabylonJSGuide commented on #855
@sebavan  will check it out in a couple of days

[2018-03-20 18:05] deltakosh opened #876 "Improve webpack and module usage documentation"

[2018-03-20 18:49] BabylonJSGuide commented on #855
have updated and submitted PR

[2018-03-23 21:18] brian-hay opened #887 "Typescript getting started guide omissions & confusion"
See http://doc.babylonjs.com/

Issues:

- Refers to / requires _babylon.d.ts_ file but doesn't indicate where to get it
- Says "We will only code in the _index.html_ file to keep it as simple and concise as possible" but then proceeds to use multiple files e.g. _game.ts_, _game.js_ etc.

[2018-03-23 21:20] deltakosh commented on #887
Good catch!

[2018-03-24 01:25] deltakosh commented on #887
I try to avoid multiplying repo because then we need to maintain them :)
Regarding the question, you should just ask them to download from https://cdn.babylonjs.com/babylon.d.ts

[2018-03-24 01:29] brian-hay commented on #887
Thanks for the CDN link. Will use that.

I wasn't suggesting duplicating the entire BJS repo as part of the starter repos. Just creating project boilerplates/skeletons for different use-cases and developer language preferences etc.

[2018-03-24 01:31] deltakosh commented on #887
I got your point :)
perhaps we could just add a starters folder in this repo to ease maintenance.

[2018-03-24 04:42] brian-hay commented on #887
Have submitted PR #889

[2018-03-24 04:45] brian-hay commented on #720
+1 on this. I suggested something along these lines here https://github.com/BabylonJS/Documentation/issues/887#issuecomment-375836337

[2018-03-24 04:50] brian-hay commented on #530
@deltakosh I could have a go at this.

Let me know if there's any other doc priorities, especially English review/rewrite stuff.

[2018-03-24 04:50] deltakosh commented on #530
Any issue here is important so feel free to pick this one

[2018-03-24 04:51] deltakosh commented on #530
Thanks a lot btw

[2018-03-24 04:53] brian-hay commented on #530
I can't seem to assign myself, or do you need to do that?

[2018-03-24 04:55] deltakosh commented on #530
I can't either as you did not create the issue. But consider it yours!

[2018-03-24 04:55] brian-hay commented on #530
OK.

[2018-03-24 04:56] deltakosh commented on #713
Done:)

[2018-03-24 04:56] #713 closed

[2018-03-24 04:57] #855 closed

[2018-03-24 04:57] #868 closed

[2018-03-24 04:58] #887 closed

[2018-03-24 04:58] deltakosh commented on #712
Fixed with typedoc

[2018-03-24 04:58] #712 closed

[2018-03-24 04:59] deltakosh commented on #775
Fixed with typedoc

[2018-03-24 04:59] #775 closed

[2018-03-24 04:59] deltakosh commented on #776
Fixed with typedoc

[2018-03-24 04:59] #776 closed

[2018-03-24 05:00] deltakosh commented on #778
Fixed with typedoc

[2018-03-24 05:00] #778 closed

[2018-03-24 05:00] #781 closed

[2018-03-24 05:00] deltakosh commented on #714
Done

[2018-03-24 05:00] #714 closed

[2018-03-24 05:02] deltakosh commented on #720
I see this as doc page and not actual code in the repo

[2018-03-24 05:05] deltakosh commented on #556
Up?:)

[2018-03-24 05:07] #876 closed

[2018-03-24 06:11] brian-hay commented on #530
I'm a little confused about the difference between **createDefaultCamera()** & **createDefaultCameraOrLight()** - in the Class API docs they seem to have the same method parameters, but only the latter method is in the source code, so I'm assuming it's a temporary doc generation glitch?

Do you want these docs in 101, how to or features section? And with createDefaultCameraOrLight() most other doc

[2018-03-24 06:57] brian-hay commented on #530
Sorry I see createDefaultCamera() in 3.2.0-beta.1 and I understand the intent there, so disregard that question.

But question of where docs should ideally go still stands.

[2018-03-24 07:49] Vinc3r commented on #556
Yep you're right, time to enhance the doc. I'll try to do that.

[2018-03-24 09:09] Abdelkrim opened #892 "Playground: Earcut is not defined"
1. Open http://www.babylonjs-playground.com/#4GBWI5#1
2. An error appears "Line 12:13 - Earcut is not defined"

1. How to circumvent the issue?
2. All other samples using Earcut on the playground fails to run

[2018-03-24 09:27] BabylonJSGuide commented on #892
Works in stable version so until sorted switch to stable version in playground (selector top left)
https://www.babylonjs-playground.com/indexstable#4GBWI5#1

[2018-03-24 11:50] Abdelkrim commented on #892
Indeed, the stable version works.

Thanks

[2018-03-24 12:48] BabylonJSGuide commented on #892
Still not working in 3.2

[2018-03-24 13:13] deltakosh commented on #892
Please open it in main repo as it is not doc related

[2018-03-24 13:13] #892 closed

[2018-03-24 21:14] brian-hay commented on #530
New section **helpers** it is. Thanks @deltakosh and @BabylonJSGuide

Will aim to get it done within the next week.

[2018-03-24 21:32] deltakosh commented on #530
Much appreciated

[2018-03-24 22:07] BabylonJSGuide commented on #530
Good plan

[2018-03-25 12:08] BabylonJSGuide commented on #892
Solved

[2018-03-27 16:59] BabylonJSGuide opened #905 "Results of using search do not link correctly"
When you use the search box in documentation then
1. API documentation is OK. Links to result show http://doc.babylonjs.com/api/classes/............ and link correctly

2. Any other results do not work since they contain the word 'search as in http://doc.babylonjs.com/search/How_To/........   rather than http://doc.babylonjs.com/How_To/Animate...........

[2018-03-27 17:08] deltakosh commented on #905
I'll take care of it

[2018-03-27 17:27] #905 closed

[2018-04-16 13:34] BabylonJSGuide opened #935 "Links in API documentation that have Incorrect Redirects"
The broken redirect links in the API documentation are in the file below. The links on the left redirect to a 404 or redirect to the wrong page of the documentation, corrected redirects on the right. Some of these links occur multiple times

[broken links.txt](https://github.com/BabylonJS/Documentation/files/1915433/broken.links.txt)

[2018-04-16 15:58] deltakosh commented on #935
Thanks I'll make sure to update the redirects

[2018-04-16 18:01] deltakosh commented on #935
Unfortunately this is not supported (because of the hash) by the redirection platform of netlify.com:(

[2018-04-18 08:48] Vinc3r opened #944 "Resources: new "Playground" filter"
I think this page need a new "Playground" filter: http://doc.babylonjs.com/resources/ but I don't know how to do that, if someone can explain, or made the change?

![](https://i.imgur.com/TnK3Z6g.png)

Page which should be included in this filtering are:

- http://doc.babylonjs.com/resources/playgrounds
- http://doc.babylonjs.com/resources/pbt
- http://doc.babylonjs.com/resources/playground_textur

[2018-04-18 13:12] deltakosh commented on #944
Pinging @babylonjsguide :)

[2018-04-18 16:44] BabylonJSGuide commented on #944
Have made changes but I am having problems with Grunt Build to check changes are ok. Get the following error messages after Grunt Build

$ grunt build

Loading "Gruntfile.js" tasks...ERROR

Warning: Task "build" not found. Use --force to continue.

Aborted due to warnings.

Tried installing grunt-contrib-connect but get these error messages
$ npm install grunt-contrib-connect --save-dev
npm WARN d

[2018-04-18 17:26] BabylonJSGuide commented on #944
A good idea and PR #945 submitted. @Vinc3r you should be able to see how it was done by looking at the file changes. Basically a new folder in content>resources and moving files to this new folder plus updating data>statics.json. Since all changes take place withing the resources folder no need to change any existing links to these pages.

[2018-04-18 17:26] #944 closed

[2018-04-18 17:44] Vinc3r commented on #944
Great job, thanks

[2018-04-18 21:48] deltakosh opened #946 "New examples tab"
- [x] Add a new examples tab
- [x] Add description + small image + link + doc link per sample. Links only display title +image by default but can be unfold to display desc and doc link
- [x] Sort per category (animations,meshes,materials,shadows,physics,etc..)
- [x] Filter by title
- [x] List will be static in the doc website (static html generated at doc build time based on a Json file)
- [x] Som

[2018-04-18 21:50] deltakosh commented on #946
Add description + image + link per sample
Sort per category
List will be static in the website and editable through PR

[2018-04-18 21:51] deltakosh commented on #946
Pinging @Jaskar

[2018-04-19 12:30] BabylonJSGuide commented on #946
If I have the right idea you want to add an Examples Tab under which there will be a number of PG examples including the feature demos and those from the Interesting Playgrounds page. Also rename the Samples Tab.

I think Tutorials is a bit grand as a rename for the Samples Tab so I would go for renaming Samples as Snippets and then rename the Snippets Filter as Utilities and  possibly rename the

[2018-04-19 14:03] deltakosh commented on #946
Sounds good to me!!

[2018-04-20 16:16] BabylonJSGuide commented on #935
Have updated the links in Babylon.js ref PR #4166 Babylon.js

[2018-04-20 16:24] deltakosh commented on #935
Thanks a lot!

[2018-04-29 00:07] deltakosh commented on #946
Adding some cleanup tasks:
- [ ] Compeltey hide the scroll bar on the right
- [ ] Make sure there is no stuttering when moving mouse over menus

cc @Jaskar

[2018-04-29 00:12] deltakosh opened #969 "Add more examples"
- [x] One per light type (hemi, dir, spot, point)
- [x] One for device orientation camera
- [x] Asset containers

[2018-04-30 22:35] #969 closed

[2018-05-02 15:14] Vinc3r opened #989 "Base demo in VLS page is wrong"
I don't know what the base demo is supposed to show, so I can't fix it myself, but I'm quite sure it's not the right demo which is linked.

- Base demo link is at the bottom of [this page](http://doc.babylonjs.com/how_to/using_the_volumetric_lightscattering_post-process#and-now-its-time-to-play)
- playground linked is this one: https://www.babylonjs-playground.com/?25 (no VLS at all, plus old url

[2018-05-02 20:13] deltakosh commented on #989
Thanks I replaced it with https://www.babylonjs-playground.com/#AU5641
Thank you for your appreciated help!

[2018-05-02 20:13] #989 closed

[2018-05-04 09:18] jouerose opened #995 "typos in Babylon 101 doc"
on this page  https://doc.babylonjs.com/babylon101/parametric_shapes
1) In the CreateLines options table, you may have meant  "useVertexAlpha" instead of "useVertexColor" ?
2) In the CreateDashedLines options table, you may have meant  "dashNb" instead of "dashBn" ?

[2018-05-04 10:57] BabylonJSGuide opened #996 "No redirect for depth buffer"
This link http://doc.babylonjs.com/tutorials/using_logarithmic_depth_buffer from http://www.html5gamedevs.com/topic/28756-suggestion-for-solving-this-z-testingz-fighting-problem/?do=findComment&comment=165379 does not redirect to http://doc.babylonjs.com/how_to/using_logarithmic_depth_buffer

[2018-05-04 11:34] BabylonJSGuide commented on #995
Tank you for pointing these out PR submitted

[2018-05-04 11:34] #995 closed

[2018-05-04 15:38] deltakosh commented on #996
Fixed

[2018-05-04 15:38] #996 closed

[2018-05-05 08:51] jouerose commented on #995
Hi, I may have found others:
on https://doc.babylonjs.com/babylon101/materials
these two lines :
var myMaterial.alpha = 0.5;
var myMaterial.diffuseTexture.hasAlpha = true;

I did not think i should have opened another issue ticket for them. let me know if it would have been better.

cheers

[2018-05-05 09:42] BabylonJSGuide commented on #995
That's OK I though in future it is probably better to open a new issue rather than commenting in a closed issue. If issue is open then just add relevevant findings. I will sort these typos out.. Any new typos start a new issue.

[2018-05-05 12:54] BabylonJSGuide commented on #995
Have updated

[2018-05-20 15:15] #529 closed

[2018-05-21 23:11] TrevorDev opened #1022 "Update behavior docs"
- [x] Add documentation and also update the list of available behavior here:http://doc.babylonjs.com/features/behaviour https://github.com/BabylonJS/Babylon.js/pull/4343/
- [x] create Gizmo doc page

[2018-05-23 20:01] deltakosh opened #1025 "Add documentation for Particle Helper"

[2018-05-24 18:27] #946 closed

[2018-05-24 18:27] deltakosh opened #1027 "Add a new pane in the playground to replace the sample picker and use the same mechanism as the doc examples page"

[2018-05-24 18:28] #1027 closed

[2018-06-08 06:31] jouerose opened #1050 "adding easing function name in list"
on this page,
http://doc.babylonjs.com/babylon101/animations

in the list of ease functions, BezierCurveEase is not mentioned yet it appears in an example below.

cheers

[2018-06-08 14:51] #750 closed

[2018-06-08 14:51] ssaket commented on #750
@deltakosh - Please review my pull request

[2018-06-08 15:21] deltakosh commented on #1050
Fixed!
thanks for the feedback :)

[2018-06-08 15:21] #1050 closed

[2018-06-08 17:22] RaananW commented on #720
yes! I have a few corrections, but it can be closed

[2018-06-11 09:52] Vinc3r opened #1058 "Clean doc from old-type playground url"
In reference of this [forum topic](http://www.html5gamedevs.com/topic/38155-problem-with-playground-example-in-how-to/), we have to clean up and update some playground links/examples.

Here the result of a search on Atom with the old pattern url:

![old pattern](https://i.imgur.com/tKAT7ol.png)

[2018-06-11 13:49] deltakosh commented on #1058
Good catch!

[2018-06-11 16:37] deltakosh commented on #1058
Fixed!

[2018-06-11 19:00] Vinc3r commented on #1058
GG :)

[2018-06-11 19:00] #1058 closed

[2018-06-15 14:05] Vinc3r opened #1074 "Available Meshes in the Playground"
In the same way of [Available Textures in the Playground](http://doc.babylonjs.com/resources/playground_textures), I think we should have a page about available meshes:

- those from [Babylon.js\Playground\scenes](https://github.com/BabylonJS/Babylon.js/tree/master/Playground/scenes)
- those from [MeshesLibrary](https://github.com/BabylonJS/MeshesLibrary)
- and conditions to be able to import cust

[2018-06-15 14:06] deltakosh commented on #1074
Good idea:)

[2018-06-15 14:07] Vinc3r commented on #556
#1031
#1038

[2018-06-15 14:33] Vinc3r commented on #1074
some ideas about infos in the meshes table:

- thumbnail
- size in MB
- link of an empty playground with just this mesh, a dir light and an orbit cam

If someone want to create the first basic commit of this page, let's go :) If not I will try to (dealing with this _static.json_ file I guess).

[2018-06-20 08:51] bartwttewaall opened #1086 "Show distinction between inherited / new properties and methods"
Please generate the api documentation with clear visual distinction between inherited vs new properties and methods. Example: https://createjs.com/docs/easeljs/classes/Container.html
This makes it more usable when trying to figure out which base class to extend from.

[2018-06-20 14:37] deltakosh commented on #1086
We are using Typedoc for Doc generation. Need to check if this option is supported

[2018-06-21 23:18] deltakosh commented on #1086
That's the best we can get so far:
![image](https://user-images.githubusercontent.com/1306056/41750068-c40ee20e-756e-11e8-9e33-39bae2cf15fe.png)

[2018-06-21 23:18] #1086 closed

[2018-06-21 23:19] deltakosh commented on #1086
Will reopen if typedoc offer other alternatives (Or if someone knows how to do it better :))

[2018-06-21 23:20] deltakosh commented on #1086
You also have this info here:
![image](https://user-images.githubusercontent.com/1306056/41750117-fdf73430-756e-11e8-9b3f-891e322237a3.png)

[2018-06-23 15:44] BabylonJSGuide commented on #1074
Have constructed a page on this and made a start.
Have made all images 128 x 128 for consistency.
Have used the same template for all playgrounds but each mesh has a new playground so that the title and tags can include the individual name of the mesh.

Happy for you to add more and/or make any edits you wish. I will continue as and when I have time.

Question for @deltakosh  when it comes to the

[2018-06-23 15:58] deltakosh commented on #1074
Actually A because the meshes library can be access from https://models.babylonjs.com which is under a cdn
 (like https://models.babylonjs.com/ufo.glb)

[2018-06-23 20:22] BabylonJSGuide commented on #1074
Always follow the plan of those with most knowledge. Will do A

[2018-06-25 16:35] #1025 closed

[2018-06-26 17:49] BabylonJSGuide commented on #1074
@Vinc3r have completed the page except for
' * and conditions to be able to import custom meshes in the playground from anywhere from the Internet (with some example cases like from github, etc) '

Perhaps you could add anything you think necessary for this.

[2018-06-27 07:11] Vinc3r commented on #1074
Great job!

About "conditions etc", forget it for now (I have an internet issue at home so can't be on this subject these days). I was just thinking about:
- what append if we're on a https page and import through a http link (maybe it's not a problem)
- how do you find raw link on github to be able to import your github mesh

So that's not a big deal and can be added later.

[2018-06-28 12:10] Vinc3r commented on #1074
I think we could close this issue now, isn't it?

[2018-06-28 12:22] #1074 closed

[2018-06-28 22:56] #1022 closed

[2018-06-28 22:58] deltakosh opened #1101 "Create a doc for the createDefaultEnvironment helper"
So far it lives here: http://doc.babylonjs.com/babylon101/environment#skybox (in skybox and ground chapter)
But I think he deserves more love :)

[2018-06-28 22:58] deltakosh commented on #1101
@BabylonJSGuide Please let me know if you can handle it

[2018-06-29 08:13] BabylonJSGuide commented on #1101
Give me a week to see if I can come up with something. Currently thinking that all the createDefault.... methods need more love :)

[2018-06-29 13:17] deltakosh commented on #1101
Can't agree more

[2018-06-29 15:00] BabylonJSGuide commented on #1101
First thoughts are a page under How To called Build a World Fast under scenes as a level 1 so it is near the top of the How To Landing Page.  Page would also include importing ready made models with delayCreateScene using the scene helpers. What do you think?

[2018-06-29 15:01] deltakosh commented on #1101
lovely!

[2018-06-30 13:08] deltakosh commented on #1101
Pinging @sevan for 1
For 2 the created light and camera should always be the last on the scene.cameras and scene.lights array

[2018-06-30 19:36] sebavan commented on #1101
About 1, you are seeing them, they are just really subtle and help giving a grounding feeling to the objects.

to see it better, zoom out and look a bit from the top:
![image](https://user-images.githubusercontent.com/16655165/42128515-25ebdf46-7c62-11e8-9855-2b6da3b965f1.png)

[2018-06-30 19:51] BabylonJSGuide commented on #1101
Understand it is just that I am not that good with subtle.

[2018-07-01 04:28] #826 closed

[2018-07-05 08:02] BabylonJSGuide commented on #1101
Done and Merged

[2018-07-05 08:02] #1101 closed

[2018-07-05 08:06] BabylonJSGuide commented on #530
Issue #1101 was a re-statement of this and has now been dealt with.

[2018-07-05 08:06] #530 closed

[2018-07-12 16:42] #785 closed

[2018-07-23 16:23] BradShepps opened #1133 "Babylonjs Documentation main page search bar susceptible to cross-site scripting"
Javascript can be written and executed in the search bar on main documentation page.

[2018-07-30 02:12] yzthr opened #1143 "How to save the simplified results after Auto-LOD?"
Hello,
I find that simplifying a complex mesh may take a lot of time, as in demo: https://www.babylonjs-playground.com/#2JBSNA#3 , it will take about 10s for the pop-up alert window. So how do i save the meshes after the Auto-LOD simplify, so i can load the simplified meshes in the next time(it will save a lot of time)?(I can't find the approach in this doc)   Thanks!

[2018-07-30 08:04] RaananW commented on #1143
Hi!

The simplification process was meant to work in real-time. There are better (and slower, one must say) simplification processes out there if you want to serve different simplified versions of your mesh.
Having said that - you have access to all LOD levels. For example:

https://www.babylonjs-playground.com/#2JBSNA#42

[2018-07-30 08:04] #1143 closed

[2018-07-30 22:00] deltakosh commented on #1133
What is your suggestion to fix it?

[2018-07-30 22:00] deltakosh commented on #1133
Pinging @Jaskar

[2018-07-31 07:07] Jaskar commented on #1133
Thanks for the reporting @BradShepps .
I'll fix it today !

[2018-08-09 15:59] Vinc3r commented on #556
sorry about this issue still not closed, but still haven't enough time to enhance it these (many) days (plus can't use too much my computer during the current heatwave here, if I want to be able to sleep in decent temperatures :) )

[2018-08-09 16:01] Vinc3r opened #1189 "Ability to download a local browsable copy of the API"
As seen on [this forum thread](http://www.html5gamedevs.com/topic/39280-improving-api-browsing/?do=findComment&comment=224601), it could be interesting to save and keep a local version of the API.

As example, you can check the [Blender Python API](https://docs.blender.org/api/blender_python_api_current/):
![img](https://i.imgur.com/PuBLrPj.png)

[2018-08-09 16:03] sebavan commented on #1189
Yup, let s see how to add this. If somebody wants to give it a shot ?

[2018-08-09 21:01] sebavan commented on #1133
@Jaskar any update ?

[2018-08-20 07:55] Jaskar commented on #1133
My bad! I forgot before going to holidays. I'm correcting that today (for real this time).

[2018-08-20 17:07] Jaskar commented on #1133
Temp fix : https://github.com/BabylonJS/Documentation/pull/1202

[2018-08-21 17:16] Jaskar commented on #1133
Final fix waiting for PR !

[2018-08-21 17:31] sebavan commented on #1133
THANKS

[2018-08-21 17:31] #1133 closed

[2018-08-24 16:02] deltakosh opened #1211 "scene.onPointerObservable needs some love"
This could help with mentioning pep.js, and the various pointer event we support

Thanks a lot!!!

[2018-08-26 08:07] BabylonJSGuide commented on #1211
Will have a look but might be a week or two

[2018-08-27 13:47] deltakosh commented on #1211
No rush! I appreciate the help :)

[2018-09-11 13:02] #1211 closed

[2018-09-24 16:40] deltakosh commented on #1189
The missing piece will be search :( And you can still download the repo and use it locally

[2018-09-24 16:40] #1189 closed

[2018-10-22 18:30] sbtron opened #1296 "Add glTF extension support feature list to 3dsmax, maya and gltf serializer"
Docs need to be updated to reflect latest capabilities and can have a summary table that follow the pattern form here - https://github.com/KhronosGroup/glTF/issues/1271#issuecomment-371204827

[2018-10-26 09:22] Vinc3r opened #1300 "[suggestion] new How To category: PBR"
for now we have *Start with Physically Based Rendering (PBR)* and *Master Physically Based Rendering* in category *Environment*.

What do you think to put these pages in a dedicated category named *PBR*?

[2018-10-26 13:57] deltakosh commented on #1300
Agree!! Please add it if you are ok. This is a good idea

[2018-10-26 14:28] Vinc3r commented on #1300
ok, will do that in the few hours coming :)

[2018-11-08 18:25] bghgary opened #1314 "Some pages link to http sites causing page to be marked as not secure"
Example: https://doc.babylonjs.com/how_to/how_to_use_curve3

[2018-11-08 18:30] BabylonJSGuide commented on #1314
Agree that some links on that page are http not https however on click they re-direct to https. Should be easy enough to clean up though.

[2018-11-08 18:40] BabylonJSGuide commented on #1314
OK on second thoughts not quite so easy.  1192 such links. On a quick check most seem to re-direct to https sites but one or two do not. I was hoping for a quick search and replace of all but will have to be a little more careful.

[2018-11-09 08:52] BabylonJSGuide commented on #1314
Have changed all links that re-direct to https to https. That leaves 519 http links that do not re-direct to https, including www.html5gamedevs.com. Currently I have stashed the changes on the basis that the ones that can re-direct to https anyway and those that cannot would be difficult to work through and create alternatives. For many this would not even be possible. I will let @deltakosh  decid

[2018-11-09 14:37] deltakosh commented on #1314
For the sake of it I would recommend merging the ones that support https.
We will leave the other unchanged as there is no other option

[2018-11-29 22:20] bghgary opened #1333 "Wording in gif creation documentation lacks information"
https://doc.babylonjs.com/how_to/render_scene_on_a_png#gif-creation

See forum issue: www.html5gamedevs.com/topic/41592-gif-creation

[2018-11-30 14:24] #1333 closed

[2018-12-04 09:10] Vinc3r commented on #1300
job done

[2018-12-04 09:10] #1300 closed

[2018-12-04 09:11] Vinc3r opened #1340 "new process to generate .env texture"
as seen here : https://github.com/BabylonJS/Babylon.js/issues/5586#issuecomment-443835073

[2018-12-04 17:54] Vinc3r commented on #1340
I'll be on it in the next few dayz

[2018-12-10 12:58] Vinc3r commented on #1340
should be OK when doc will be update online

[2018-12-10 12:58] #1340 closed

[2018-12-13 09:44] Vinc3r opened #1353 "enhancement: be able to get anchor in Examples page"
Should be nice to share a link of https://doc.babylonjs.com/examples/ allowing the load of a specific scene

Examples : https://doc.babylonjs.com/examples/#colorCurves, https://doc.babylonjs.com/examples/#fresnel

I know we can send the playground link, but sharing the Example page on the forum could help to "promote" it, isn't it?

[2018-12-13 14:33] deltakosh commented on #1353
Yes but not supported for now and honestly the value added is not obvious

[2018-12-13 14:35] Vinc3r commented on #1353
ok, so forget about it ^^

[2018-12-13 14:35] #1353 closed

[2018-12-18 17:45] #1314 closed

[2019-01-10 08:00] roscopetracula opened #1368 "dead cdn link in docs"
just FYI -- the docs at https://doc.babylonjs.com/how_to/using_the_physics_engine point at https://cdn.babylonjs.com/Ammo.js, but at the moment this link 404s. Thanks!

(also filed an issue at https://github.com/BabylonJS/CDN/issues/1 -- not sure if this is a docs or a cdn issus)

[2019-01-10 14:37] deltakosh commented on #1368
This will be the case when 4.0 will be out. In the meantime you can get it from preview.babylonjs.com

[2019-01-10 14:37] #1368 closed

[2019-01-11 01:21] bghgary opened #1372 "Title of every page is "Babylon.js Documentation""
Go to any page in the documentation. For example:
- https://doc.babylonjs.com/how_to/combine
- https://doc.babylonjs.com/how_to/group

Both of these titles are "Babylon.js Documentation". This causes not-so-great behavior when pasting link into the [forum](https://forum.babylonjs.com/t/optimised-scene-clones-or-one-big-mesh/660/6) where the link is displayed as "Babylon.js Documentation".

Can we

[2019-01-11 17:01] #1372 closed

[2019-02-03 15:27] BabylonJSGuide opened #1410 "Folder devLocal not found"
Not able to follow the advice below as I cannot find the devLocal folder in  BabylonJS/Babylon.js

Does it exist? If so where do I find it? If not what should the advice read?

Local Dev with the Playground
A quick way to test if your code works is to open the local playground and write code that calls on the classes you have created.

It is also possible to copy and paste playgrounds code in the

[2019-02-03 15:33] deltakosh commented on #1410
This works for me. You must be in VScode, make sure to run npm install first in the tools/gulp folder and then hit f5 to start the debugging process

Pinging @sebavan  who is also doing the same but from the CLI

[2019-02-03 15:37] BabylonJSGuide commented on #1410
Where is the /devLocal/src/index.js folder? I cannot find it?

[2019-02-03 16:10] deltakosh commented on #1410
It is not part of the repo as everyone can create his own

[2019-02-03 16:42] BabylonJSGuide commented on #1410
OK worked it out the address is wrong - it should be localDev not devLocal. Will correct the docs.

[2019-02-03 16:42] #1410 closed

[2019-02-18 14:13] LunarLanding opened #1427 "Inconsitent versions in Typescript tutorial links"
Here: https://doc.babylonjs.com/

Should link to the preview version, i.e. https://preview.babylonjs.com/babylon.d.ts , to be in accordance with the html snippet.

[2019-02-18 16:29] deltakosh commented on #1427
Good point! Let me fix that

[2019-02-18 16:31] #1427 closed

[2019-04-16 18:20] #741 closed

[2019-04-16 18:20] #867 closed

[2019-04-25 21:45] sbtron commented on #1296
@Drigax do you have an overview of current exporter support?

[2019-05-03 09:40] brian-hay opened #1514 "Longer documentation main menu titles are truncated at desktop screen widths"
For example "What's new" is truncated to "What's" and "Babylon 101" is truncated to "Babylon".

<img width="1410" alt="Screen Shot 2019-05-03 at 7 34 59 pm" src="https://user-images.githubusercontent.com/1428000/57129713-a3357b00-6dda-11e9-8354-e1460395c108.png">

Test in Chrome & Firefox at 100% zoom level on 13" MacBook Pro

[2019-05-03 18:45] deltakosh commented on #1514
Good catch!!

Need to find a smart way to fix that :D

[2019-05-03 21:33] brian-hay commented on #1514
I had a bit of a play with it locally. A quick interim fix would be to remove the fixed equal widths on the menu items, which I think looks better anyway, and possibly increase the breakpoint at which the mobile menu kicks in. The search box could also be reduced in size. The bigger problem though is that there's a lot of top-level menu items, too many I'd say. Probably what's really needed is a b

[2019-05-03 21:39] deltakosh commented on #1514
Oh please do!

[2019-05-04 01:02] brian-hay commented on #1514
@deltakosh created PR.

A lot of the SASS was already there but had been overridden, so I mostly just cleaned up.

Still worth reviewing IA though at some point I think and mobile responsive header could do with a more comprehensive refactoring to further clean up and maybe bring it into closer alignment with the new BJS website design.

[2019-05-04 03:06] jjkavalam opened #1519 "Regarding Playground Example re-set rotationQuaternion"
Hi am new to the world of 3D graphics as well as to Babylon.js.

I read in:
https://doc.babylonjs.com/resources/rotation_conventions

the following:

In my understanding by commenting out line 48 (which set the rotationQuaternion to null) it is expected that the two boxes will not be aligned anymore. But the example doesn't seem to do that.

Something seems amiss with my understanding / the exampl

[2019-05-04 14:11] #1514 closed

[2019-05-04 14:12] deltakosh commented on #1519
Hello do you mind asking the question on our forum? forum.babylonjs,.com

Thanks a lot!

[2019-05-04 14:12] #1519 closed

[2019-05-04 14:13] deltakosh commented on #1514
We plan to rework the design very soon to better align with the main website design

thanks a lot

[2019-05-05 01:05] jjkavalam commented on #1519
@deltakosh Thank you for taking the time to respond. I have submitted the question in the forum.

[2019-05-05 10:20] mthaddon opened #1521 "How to use instances page has broken link"
https://doc.babylonjs.com/how_to/how_to_use_instances has link that's no longer active. At the bottom of the page it includes a link to http://www.babylonjs.com/?INSTANCES but this isn't a link to demos of instances.

Fwiw, some external content (such as https://blog.raananweber.com/2015/09/03/scene-optimization-in-babylon-js/) also links to that URL, so might be worth fixing if possible, or if no

[2019-05-05 10:21] mthaddon opened #1522 "Mixed http/https content on how to use instances page"
https://doc.babylonjs.com/how_to/how_to_use_instances includes links to external http content.

[2019-05-05 14:49] BabylonJSGuide commented on #1519
@jjkavalaam, @deltakosh I could not find the question on the forum. The warning was included because there were many questions in the old forum on rotation problems after importing a mesh that already had a rotation quaternion set.

http://www.html5gamedevs.com/topic/41045-trying-to-animate-a-girl-to-rotation-90-degree-result-in-her-rotate-in-circles-with-pg/?do=findComment&comment=233867

The iss

[2019-05-05 15:33] deltakosh commented on #1519
Yeah this is right, now setting the rotation will just add it to the quaternion if the latter was already set

[2019-05-05 15:33] deltakosh commented on #1521
Will gladly merge the PR :)
Thanks a lot!

[2019-05-05 15:34] #1522 closed

[2019-05-05 15:54] mthaddon commented on #1521
@deltakosh Do you know what the link should be updated to? I'm not sure what http://www.babylonjs.com/?INSTANCES used to point to.

[2019-05-05 16:59] deltakosh commented on #1521
I would say this one:
https://www.babylonjs-playground.com/#YB006J#0

[2019-05-06 16:37] #1521 closed

[2019-05-20 12:50] mthaddon opened #1550 "Mixed content on https://doc.babylonjs.com/babylon101/lights and broken image"
Hi,

There's a mixed content warning on https://doc.babylonjs.com/babylon101/lights because there's a reference to an http image http://doc.babylonjs.com/img/testlight.jpg which should be https. I can fix that in a PR, but there's also a broken image - http://blogs.msdn.com/cfs-file.ashx/__key/communityserver-blogs-components-weblogfiles/00-00-01-44-73-metablogapi/4760.image_5F00_thumb_5F00_058CC8

[2019-05-20 14:34] deltakosh commented on #1550
Thanks a lot for your help!
You can just remove the broken image for now ;)

[2019-05-20 16:58] mthaddon commented on #1550
I'd failed to notice that there's also a link to http://urbanproductions.com/wingy/babylon/misc/normals03.jpg - that site doesn't seem to support https - is there some other place we could serve this image from?

[2019-05-20 18:02] deltakosh commented on #1550
Yep just store it in public/html/imgs

[2019-05-21 14:35] #1550 closed

[2019-05-24 09:33] LeonYuanYao opened #1557 "Unstable behavior of occlusion culling?"
Hello,
Recently I’ve been testing occlusion culling in BJS. And I resulted finding some unstable behavior when setting the occlusion culling to all meshes in my scene. Some meshes flickered or disappeared when it should be seen and rendered for sure. Pls check out my screen record and the codes I posted. Any suggestions and help would be appreciated.
![录制_2019_05_24_12_17_54_95](https://user-image

[2019-05-24 13:26] deltakosh commented on #1557
Please use our forum for questions: forum.babylonjs.com

[2019-05-24 13:26] #1557 closed

[2019-05-25 19:12] kucukkanat opened #1558 "Adding explanation for touch gestures on mobile"
Hey everybody,
It took me a day to figure out I needed https://github.com/jquery/PEP for my touch gestures to work with camera on mobile.
I needed to go through playground and reverse engineer, check the scripts imported in the head tags of the html after I downloaded the zip of the example. Until that point I thought it was about my css, scene or the camera, playing with the code and refreshing o

[2019-05-26 01:28] kucukkanat commented on #1558
It was already on the first step explained: https://doc.babylonjs.com/babylon101/first .
Sorry.

[2019-05-26 01:28] #1558 closed

[2019-06-08 20:35] brian-hay opened #1577 "Missing Earcut dependency in Floorplan snippet PG examples"
The following documentation snippet page contains non-working PG examples due to a missing Earcut dependency:

* https://doc.babylonjs.com/snippets/house

But the related page PG examples work fine:

* https://doc.babylonjs.com/snippets/house_use

[2019-06-09 16:30] BabylonJSGuide commented on #1577
PR submitted #1578

[2019-06-09 23:38] deltakosh commented on #1577
Thanks guys!

[2019-06-09 23:38] #1577 closed

[2019-07-16 00:04] apbln opened #1609 "Cutting / splitting objects"
Is there a way to cut an object into two? For example when I press the mouse at an object and move it to the end, the objects should into two objects (two halfs). If so, how?

[2019-07-16 00:29] deltakosh commented on #1609
Hey, please use our forum.babylonjs.com please

[2019-07-16 00:29] #1609 closed

[2019-08-16 17:03] deltakosh commented on #1296
Up @Drigax

[2019-08-21 16:32] BabylonJSGuide opened #1662 "Typescript Playground Examples Revert To Javascript Examples"
In https://doc.babylonjs.com/features/playground in the Javascript and Typescript Examples table the playground numbers for each example are the same, the difference was in the ts.html. Since ts.html is no longer needed the Typescript PGs redirect to the Javascript PGs, eg http://www.babylonjs-playground.com/ts.html#6F0LKI to http://www.babylonjs-playground.com/l#6F0LKI

[2019-08-21 16:38] deltakosh commented on #1662
Pinging @noalak

[2019-08-21 16:49] deltakosh commented on #1662
Will be fixed with #6755

[2019-08-21 16:49] #1662 closed

[2019-09-10 22:18] sebavan opened #1682 "Review Controls Typos"
Some improvments could be done on the controls documentation spelling and phrasing.

Thomas is looking into it :-) (did not find your @ under assign)

[2019-11-01 23:27] thomlucc commented on #1682
I've fixed them (I'm @thomlucc :-)

[2019-11-01 23:27] #1682 closed

[2019-11-12 08:21] hilderonny opened #1770 "Links to API docs in guides and Babylon101"
It would be helpful to have links to the corresponding API class documentation within guides and other documentation.

For example in https://babylonjsguide.github.io/basics/Cameras#arc-rotate-camera which describes the use of the Arc Rotate Camera there should be a reference to https://doc.babylonjs.com/api/classes/babylon.arcrotatecamera where one can get further information about the properties

[2019-11-12 16:19] deltakosh commented on #1770
That's a good idea!

You can directly updates the .md for the guides in this repo. To get the link back from the API you need to add a \@see tag in the code like here: https://github.com/BabylonJS/Babylon.js/blob/da661ef2153e10b0e424c6f93792159b53a0a47f/src/Animations/easing.ts#L6

[2019-11-14 18:03] Vinc3r commented on #556
I think this issue can be closed, or maybe assigned to JCPalmer?

Since maybe a year I use exclusively gltf format so I'm not anymore aware about the .babylon Blender exporter.

[2019-11-14 18:15] deltakosh commented on #556
Yes I agree let's close it

[2019-11-14 18:15] #556 closed

[2019-11-26 00:02] thomlucc commented on #1770
Closing as merged

[2019-11-26 00:02] #1770 closed

[2019-11-27 01:51] edzis opened #1804 "Build API docs from source to generate links to source"
I would like to get the standard behavior of typedoc to get a link to the source of each member.

With the help of https://github.com/gdelmas/typedoc-plugin-sourcefile-url I get the links - see https://github.com/BabylonJS/Documentation/pull/1803. But as the docs are generated not from the source but from a d.ts file that is pulled in at build time the links are not very helpful.

What would it ta

[2019-11-27 15:35] deltakosh commented on #1804
I did not try so I don't know :) But if you want to try I will be more than happy to merge it

I won't merge the PR as the value added to point to a .d.ts file is not worth it but if we can point directly to source code that would be awesome !

[2019-11-27 16:14] deltakosh opened #1805 "Improve NME documentation"
Need to mention new features like frames or comments

[2019-12-04 21:30] hiteshsahu commented on #892
Add Earcut as dependency in your index HTML

<script src="https://preview.babylonjs.com/earcut.min.js"></script>

[2020-01-16 09:58] AndrewTotsky opened #1841 "Russian translation"
Hello everyone! I have idea to translate BIBYLON101 for Russian users. Are there any recommendations for this? Do you plan to support different languages? Can I make a translation?

[2020-01-16 16:25] thomlucc opened #1842 "Refresh documentation structure"
- [x] Refresh design and content to ensure documentation landing page is as accessible as possible to a variety of audiences (developers, artists, tech artists, expert, beginners...). [Forum thread](https://forum.babylonjs.com/t/is-documentation-overview-on-the-doc-first-page-really-useful/8045)
- [x] SEO optimization
- [x] Connection with other assets when relevant: Website, Playground, Blog
- [x

[2020-01-16 17:14] deltakosh commented on #1841
Well it will be cool :) feel free to do a PR to add a link to it from the main doc

[2020-01-16 18:51] #1805 closed

[2020-01-17 03:14] il-m-yamagishi opened #1843 "`grunt serve` does not work in node v12 LTS"
possibly related issue https://stackoverflow.com/questions/55921442/how-to-fix-referenceerror-primordials-is-not-defined-in-node

[code]

downgrade to node v10 works for me.

[2020-01-17 14:33] deltakosh commented on #1843
Ok for now let's stay with node 10, I bet grunt will make the change asap :)

[2020-01-17 14:33] #1843 closed

[2020-01-29 15:06] jgfoster opened #1858 "Remove extra babylon101 directory?"
Would it be okay to remove the first `babylon101/` directory and pull up the second one to the `content` directory? What would be the implications of doing so? What is the deployment process to https://doc.babylonjs.com/babylon101/? Are there scripts that expect the double name?

Background: I'm using the 101 tutorial for an undergraduate class in Computer Graphics and one of our side goals is to

[2020-01-29 15:11] jgfoster opened #1859 "Page navigation issues"
As I go through the tutorial I'm finding it difficult to navigate. For example, the first page (https://doc.babylonjs.com/babylon101/about101) has a section in the table of contents labeled 'Next' but it has no content and there is no link to the next lesson.

Suggestions:

- Every page have a link back to the top
- Every page have a link to the previous lesson as its first link
- Every page have

[2020-01-29 15:20] jgfoster opened #1860 "Odd paragraph break in About101"
The third full paragraph has a sentence fragment that appears as a full paragraph. This was added by eb2480af4aeaf8ed973bce833c31a416a5c811ca with the comment "Fixed broken layout (the paragraph after PG example was too wide)."

First, I don't understand how to generate the "eye" link that creates an Iframe.

Second, we should find a way to show the link without the sentence fragment being on its

[2020-01-29 15:29] jgfoster opened #1861 "Explain or reference 'UV' early"
https://doc.babylonjs.com/babylon101/discover_basic_elements#face-colors-or-uv references "UV" but does not describe it. It would be helpful to have at least an early reference to something like https://en.wikipedia.org/wiki/UV_mapping, if not a brief description.

The same issue exists at https://doc.babylonjs.com/how_to/createbox_per_face_textures_and_colors.

[2020-01-29 15:31] jgfoster opened #1862 "Use different glyphs for open/close of table of contents"
I'm used to arrows taking me to another location. I'm used to the caret or circumflex character ('^') as open/close for an accordion style element.

[2020-01-29 15:34] jgfoster opened #1863 "Reconsider "Table of Contents" as name for lesson sections"
I think of "Table of Contents" as the overall list of "chapters" in a book or lessons in a course. I expected an up arrow next to those words to take me to https://doc.babylonjs.com/babylon101/.

A name like "Lesson Topics" would be more intuitive.

[2020-01-29 15:38] jgfoster opened #1864 "Content clipping at the bottom of the page"
The page footer clips the bottom content.

The following is at https://doc.babylonjs.com/babylon101/first:

![Screen Shot 2020-01-29 at 7 36 22 AM](https://user-images.githubusercontent.com/1577872/73371149-1e449880-426a-11ea-9acf-db6516828e54.png)

The following is at https://doc.babylonjs.com/babylon101/discover_basic_elements:

![Screen Shot 2020-01-29 at 7 36 36 AM](https://user-images.githubu

[2020-01-29 15:57] deltakosh commented on #1858
Pinging @PirateJC

[2020-01-29 15:59] deltakosh commented on #1861
Do you mind doing a PR to fix the page?

[2020-01-29 16:00] deltakosh commented on #1862
Fancy doing a PR?

[2020-01-29 16:01] deltakosh commented on #1864
I do not repro on my computer. Do you use specific settings like zoom or something? Which browser?

[2020-01-29 16:28] deltakosh commented on #1862
I can do it actually, I have a few minutes free

[2020-01-29 16:28] deltakosh commented on #1861
Will do it as well

[2020-01-29 16:31] #1862 closed

[2020-01-29 16:31] #1861 closed

[2020-01-29 16:32] deltakosh commented on #1859
The next for about it to take the first step.

I will add the missing links to help with navigation

[2020-01-29 16:40] jgfoster commented on #1861
Could you leave some easy things for my students to do?

[2020-01-29 16:41] deltakosh commented on #1860
It is generated when you add a link to https://www.babylonjs-playground.com/

The PG link automatically add a break to let us display the iframe for the in documentation rendering.

I will rewrite the About page to make that less weird

[2020-01-29 16:43] #1860 closed

[2020-01-29 16:48] cherbel commented on #1864
The content clips on Safari but not on Google Chrome.

[2020-01-29 16:52] deltakosh commented on #1861
oh my gosh yeah :D

[2020-01-29 16:52] deltakosh commented on #1859
I leave this one for you ;)

[2020-01-29 16:53] deltakosh commented on #1864
Rats..I don't have a mac..Interested to fix it?

[2020-01-29 17:06] jgfoster commented on #1861
Thanks! It was somewhat amusing to show my students the issue and suggest a fix, then go back to the page, see the reference to Wikipedia, and ask myself "How did I miss that?" One of the students then pointed out that the page had been edited during my lecture!

It is nice to see an active community, but right now I'm looking for mentors who will guide newcomers. ;-)

[2020-01-29 17:24] deltakosh commented on #1861
No problem! I will leave the updates to your students :)

You can tell them to feel free to ask any questions on our forum on forum.babylonjs.com

[2020-01-29 18:37] cherbel commented on #1864
Sure, I can look into it.

[2020-01-29 19:05] jgfoster commented on #1864
If you find the issue and are willing to go to a bit more work, describe the fix and let one of my students go through the cycle of contributing to an open source project. Thanks!

[2020-01-29 19:14] deltakosh commented on #1864
I will for sure!!

[2020-01-30 08:13] Vinc3r commented on #1861
If this can help ;) https://doc.babylonjs.com/how_to/contribute_to_documentation

[2020-01-31 05:51] jgfoster opened #1869 "HTML code not consistent on First Steps"
At https://doc.babylonjs.com/babylon101/first there is sample code (above) that matches the playground and below there is an HTML template with a couple differences. Specifically,

[code]

and

[code]

The top code seems better.

[2020-01-31 14:20] deltakosh commented on #1869
for sphere I prefer the 2nd line as it show the diameter

[2020-02-07 06:22] jgfoster opened #1875 "replace comma with semicolon at end of statement"
The sample code in https://doc.babylonjs.com/babylon101/picking_collisions starting with `window.addEventListener("click",` ends with a comma instead of a semicolon.

(This easy issue is intended for WWU CPTR 355 students. Thanks!)

[2020-02-10 05:43] jgfoster opened #1877 "Raycasts tutorial cleanup"
Various cleanups to https://doc.babylonjs.com/babylon101/raycasts:

- Incomplete sentences ("And get the picking info.").
- Singular/plural agreement ("Rays are ... It's used ...").
- Clarify that italicized (l.number) refers to line numbers in the demo.
- Put dot between 'l' and number (.l65).

I've asked students in CPTR 355 at WWU to tackle this issue.

[2020-02-10 16:25] #1875 closed

[2020-02-10 16:31] #1859 closed

[2020-02-12 04:48] jgfoster opened #1878 "Sprites Tutorial Cleanup"
Placeholder for general edits to https://doc.babylonjs.com/babylon101/sprites.

- "...the minimal JSON format is." [presumably refers to the code snippet that follows]
- "which uses the first sprite on the sheet" [needs period at end of line]

Request that this issue be held for WWU CPTR 355 students. Thanks!

[2020-02-14 05:15] jgfoster opened #1880 "Environment tutorial cleanup"
Placeholder for issues with https://doc.babylonjs.com/babylon101/environment.

- "There is [sic] two ways to create a skybox."
- The tutorial says that the skybox files need to be png but my experience is that they need to be jpg.

This is entered with the hope that it will be picked up by a student in WWU CPTR 355. (Thanks to the core team for their patience with my nit-picking as I prod the stud

[2020-02-14 16:14] deltakosh commented on #1880
No problem at all! We are thrilled to help and be helped ;)

[2020-02-19 01:28] thomlucc opened #1887 "Add what import are needed for each class"
A game developer used typescript to port a game, and sometimes found it difficult to locate what imports he needed to access a certain class - having this listed clearly in the docs for each class would be really useful.

[2020-02-19 22:10] thomlucc opened #1889 "NME: document and explain expected range of "distance" on the Replace Color node"
Question: What is the expected range of "distance" on the Replace Color node? It seems as though a value of 1.0 does not cover the whole range of possible replacement color values. I'm finding around 1.22-1.24 is needed to completely replace all tones of color, or is this just an isolated instance based on what colors I'm using (black to blue to white replacing blue with green pushing the range to

[2020-02-19 22:14] thomlucc opened #1890 "NME: Document the priority order for the values in Vector Merger"
This appears to take the lower values in priority order XYZ < X+Y+Z+W once you have enough channels to produce the output (XY immediately replaces XYZ, but you need to connect X+Y+Z to override XY).

![image.png](https://images.zenhubusercontent.com/5dae4b4d14fb1000015c0e1e/1939119e-8bb5-4f0c-affc-c5f1d125380f)

[2020-02-20 15:55] #1880 closed

[2020-02-20 17:08] sballance commented on #1877
I am in Professor Foster's class and will be working on this issue.

[2020-02-20 17:21] danielarlt opened #1892 "Complex animation tutorial improvements"
In studying Babylon.js animations, I found that the section covering complex animations was lacking in explanation of what exactly the function given did. I intend to add a little more information to this section that could make it easier for future readers of this tutorial.

[2020-02-20 18:05] nick97eagles commented on #1878
I'll take care of these issues 👍🏻

[2020-02-20 18:08] #1892 closed

[2020-02-20 18:21] jgfoster opened #1894 "Particles Tutorial Cleanup"
The documentation at https://doc.babylonjs.com/babylon101/particles contains the following sample code:

[code]

It appears that the second line is missing a comma and space between the second and third parameters.

This issue is intended for students in CPTR 355 at WWU. Thanks!

[2020-02-20 18:22] #1878 closed

[2020-02-20 21:36] deltakosh opened #1896 "Add a note about how to control glow layer with NME"

[2020-02-20 23:37] #1877 closed

[2020-02-24 00:56] lukemusic commented on #1894
I'm taking this on along with other typos in the same file.

[2020-02-24 15:23] APlatner opened #1902 "Add note about how to allow local texture files in chrome and firefox"
When I was first using the texture functionality, I couldn't get it to work without using a wikimedia image. I think it would be useful to include a note about how to allow local file access. I'll be submitting a pull request to that end by midnight tonight. Please don't make this change before me, as this is a required assignment for me.

[2020-02-24 16:34] #1894 closed

[2020-02-24 16:35] deltakosh commented on #1902
Yeah this is a really good point

[2020-02-25 04:49] 3dCameron opened #1906 "Match code style in Parametric Shapes tutorial to that of Playground example"
The Parametric Shapes tutorial contains a code excerpt with the following lines:
[code]

This is meant to parallel the Playground example, where the code appears like so:
[code]

The difference is the spacing between the equals sign and square bracket. The Playground version follows better style practices, so those should be applied to the tutorial as well.

[2020-02-26 03:56] riggja commented on #1869
I will make this change and also look for any other inconsistencies on this page.

[2020-02-26 05:21] #1902 closed

[2020-02-28 17:26] #1906 closed

[2020-05-14 18:49] jdeboi opened #1952 "<SceneComponent /> should be <BabylonScene .../>?"
I'm pretty sure <SceneComponent .... /> should be <BabylonScene .../> in the code example of using the SceneComponent.jsx component on a page.

sorry i don't know how to do a pull request.

[2020-05-14 19:52] deltakosh commented on #1952
cc @brianzinn

[2020-05-14 20:29] #1952 closed

[2020-05-18 20:59] thomlucc opened #1955 "Babylon 101 Video Tutorial Series"
From [#6509](https://github.com/babylonjs/babylon.js/issues/6509) in Babylon.js repo

Create a series of tutorial/walkthrough videos to accompany the Babylon101 documentation.
 These videos will help walk folks who are new to Babylon, through the beginning basics of how to use it.

- [ ] Intro and About the Course
- [ ] First Steps
- [ ] Discovering the Basics
- [ ] Parametric Shapes
- [ ] Positio

[2020-05-22 14:54] SacredDuckwhale opened #1957 "Dead links on the "Discover Basic Elements" tutorial page (Babylon101)"
Greetings! I found a small number of oddities in [this](https://github.com/BabylonJS/Documentation/blob/master/content/babylon101/babylon101/Discover_Basic_Elements.md) document:

* Dead link under "Plane (see "More Information on Source Plane")
* Dead link under "Front and Back UV"
* The section under that one is about changing position/rotation, but it's titled "Coming Soon"

Perhaps the first l

[2020-05-22 18:11] #1957 closed

[2020-06-08 13:49] sebavan opened #1968 "Display first PG from the doc in the PG search"
This would help ensuring that the first PG search results are completely relevant and backed by documentation. As a neat, the associated documentation could also be displayed in the search/pg.

[2020-06-12 19:49] lazerwalker opened #1975 "Filter search for 'VR' should bring up WebXR docs"
When I was first getting started with Babylon.js, the way I jumped into setting up a VR scene as a brand new user was to go to the "How To..." tab of the doc website and to search for "VR".

This search had two results, the WebVR camera and WebVR experience helper docs, which in turn led me down a rabbithole of linked WebVR-focused docs. This was despite the fact that I was doing this well after t

[2020-06-30 21:03] tahteche opened #1987 "Arc Rotate Camera Contradiction in Docs"
In the docs here: https://doc.babylonjs.com/babylon101/cameras#arc-rotate-camera

It's stated that `Both alpha and beta increase in a clockwise direction.` but the following diagram that accompanies the text shows alpha increasing in an anti-clockwise direction.

![camalphabeta](https://user-images.githubusercontent.com/6853998/86176699-ef697180-baea-11ea-82a1-9e50d58cde4b.jpg)

[2020-06-30 21:38] sebavan commented on #1987
I ll change it ASAP thanks

[2020-06-30 22:24] #1987 closed

[2020-07-15 06:56] Jarred-Sumner opened #1998 "There are 89 broken links in the documentation site"
You all put so much effort into writing very helpful documentation but when the links are 404'ing, it makes it harder to find them :(

Rather than report them one-off, I ran a script to crawl doc.babylonjs.com for broken links:
[code]

Here's the output after I cleaned it up a little:
[code]

[2020-07-15 13:32] deltakosh commented on #1998
Hey this is fantastic

@PirateJC should be able to replace them! Feel free to send PR as well if you want to

Pinging @BabylonJSGuide  as well

[2020-07-15 14:36] pocce90 opened #1999 "Recreating the default configuration for the viewer has an error"
At the end of this tutorial (https://doc.babylonjs.com/extensions/recreating_the_default_configuration#templates-main-template) there is a full code demonstration that doesn't work. If you try to press play button, or other buttons like full screen mode or the timeline bar there are no effects on the scene. I tried directly in my solution and there are no errors in console

[2020-07-17 19:29] thomlucc opened #2002 "Page not found errors on local version of Documentation"
Some menu items of the documentation return a page not found error

Repro:
- Following how to contribute to the doc: https://doc.babylonjs.com/how_to/contribute_to_documentation
- When building the doc locally some menu items of the documentation return a page not found error.
For example clicking on Balylon 101:
![image](https://user-images.githubusercontent.com/32072891/87823555-79724380-c828-11

[2020-07-21 11:35] RaananW commented on #1999
Hi, will look into that! thanks for reporting

[2020-07-21 11:40] RaananW commented on #2002
Just making sure - did you run the `build` task before?

I get the page rendered:

![image](https://user-images.githubusercontent.com/1381702/88050733-b192c280-cb57-11ea-8c6d-24a5c84718ed.png)

But I agree that build should execute automatically before serve (or better yet - during!)

[2020-07-21 17:05] PirateJC commented on #1998
This is awesome! I'm going to dig into this now! Thank you @Jarred-Sumner

[2020-07-21 21:07] Jarred-Sumner commented on #1998
Np

Also worth flagging that many of the links pointing to demos don't work:

For example, in https://doc.babylonjs.com/how_to/optimizing_your_scene_with_octrees#Demos:
![image](https://user-images.githubusercontent.com/709451/88107150-78f4e800-cb5b-11ea-9522-a92636861da0.png)

[2020-07-24 20:00] PirateJC commented on #1998
Ok did a pass through and fixed links as well as removed a few old outdated ones.

https://github.com/BabylonJS/Documentation/pull/2011

Thanks again for pointing this out! We'll have to do another pass through to find broken demo links.

[2020-07-24 20:00] #1998 closed

[2020-08-05 04:35] valen214 opened #2019 "ArcRotationCamera.setTarget has different argument type than set target()"
Quick problem

the two lines below are the implementation
[`arcRotateCamera.ts (line 975): setTarget(target: AbstractMesh | Vector3, ...)`](https://github.com/BabylonJS/Babylon.js/blob/master/src/Cameras/arcRotateCamera.ts#L975) takes `Vector3 | AbstractMesh` as first argument

[`arcRotateCamera.ts (line 63): set target(value: Vector3)`](https://github.com/BabylonJS/Babylon.js/blob/master/src/Came

[2020-08-05 04:40] valen214 commented on #2019
recommend to add `incomplete doc` label if necessary

[2020-08-05 16:48] deltakosh commented on #2019
Well I would not like to complicate things here. The target property is inherited from TargetCamera where only vector3 is supported

And furthermore the set target will be different than the get as the getter only returns vector3

[2020-08-05 16:49] deltakosh commented on #2019
I'll add a note though :)

[2020-08-05 16:50] deltakosh commented on #2019
"Please note that you can set the target to a mesh and thus the target will be copied from mesh.position"

[2020-08-05 16:50] #2019 closed

[2020-08-08 00:02] Yonet commented on #1975
Also related issue, searching examples for WebXR doesn't return any results. Thanks!

![webXRNotFound](https://user-images.githubusercontent.com/3523671/89697152-b71a3780-d8cf-11ea-9945-7d2a6c5f7330.png)

[2020-08-08 01:53] deltakosh commented on #1975
I think this is because there is no WebXR example yet :)
We can add them pretty easily here: https://github.com/BabylonJS/Documentation/blob/master/examples/list.json

[2020-08-11 17:24] RaananW commented on #1975
Need to address both of those.
Regarding the search - I will make sure to add a large disclaimer on VR-related documentation to go try WebXR instead, and will add VR as a keyword to the XR pages.

I'll also add a few examples to the examples page (and remove the WebVR exampl(s)

[2020-08-11 17:25] #1999 closed

[2020-08-11 17:25] RaananW commented on #2002
This is related to the node version used to build the documentation page. at the moment we only support node < 12, due to grunt's dependencies. This will change soon.

[2020-08-11 17:25] #2002 closed

[2020-08-11 17:49] thomlucc commented on #1869
done

[2020-08-11 17:49] #1869 closed

[2020-09-04 17:46] bghgary opened #2030 "Animation blending PG in docs is broken"
https://www.babylonjs-playground.com/#2BLI9T#174 from https://doc.babylonjs.com/babylon101/animations#animation-blending

The PG is referencing the FPS HTML element which is no longer available after the React conversion.

[2020-09-05 18:25] ankitcsr opened #2032 "Missing info in https://doc.babylonjs.com/how_to/webxr_session_manage."
sessionManager.initializeAsync should be called before sessionManager.initializeSessionAsync .XR not defined error will pop up if initializeAsync is not called before initializeSession .Currently initializeAsync is not mentioned in the docs

https://doc.babylonjs.com/how_to/webxr_session_manager#basic-usage-and-initialization
https://playground.babylonjs.com/#MGH3JX

[2020-09-05 20:40] #2032 closed

[2020-09-08 09:55] mihainsto opened #2034 ""How to use Babylon.js with ReactJS" wrong links"
At the bottom of the page the links are inversed, if you click on the TS source it redirects you to JS source, and if you click the JS source you get redirected to the TS source.

We can see this in the page source:
https://github.com/BabylonJS/Documentation/blob/master/content/resources/Library/BabylonJS_and_ReactJS.md

[code]

I think that we can fix this by simply swapping the links.

[2020-09-08 12:19] sebavan commented on #2034
Done and thanks !!!

[2020-09-08 12:19] #2034 closed

[2020-09-08 18:04] PirateJC commented on #2030
fixed with new playground:
https://www.babylonjs-playground.com/#2BLI9T#368

[2020-09-08 18:04] #2030 closed

[2020-09-08 18:07] PirateJC commented on #1863
@jgfoster - I'm closing this issue because it's being wrapped into this other issue:

https://github.com/babylonjs/documentation/issues/1842

We are actively reorganizing the documentation and our top priority/focus is to restructure from a "choose your own adventure" type organization to a "chapter book" approach ;)  So closing this issue as it's a duplicate, but please know that this is of HIGH

[2020-09-08 18:07] #1863 closed

[2020-09-15 08:43] jithinagiboson opened #2039 "'jsut' Spelling mixed up issue on document doc.babylonjs.com/how_to/webxr_augmented_reality page"
doc.babylonjs.com/how_to/webxr_augmented_reality

just search for the keyword 'jsut'

on

You might ask yourself why use the anchor system with hit-test results, as hit-test results are returned by the system with a position defined by the device. Setting the mesh at the hit-test's location will work **jsut** fine

location just above

### Plane detection
Your device is (usually) capable of detect

[2020-09-15 14:43] BabylonJSGuide commented on #2039
Hi @jithinagiboson, well spotted. Would you like to submit a correction? https://doc.babylonjs.com/how_to/contribute_to_documentation#the-easy-way

[2020-09-18 18:52] saaratrix opened #2042 "Incorrect method for customizing camera inputs"
Hi I was implementing custom inputs for a camera and on this page:
https://doc.babylonjs.com/how_to/customizing_camera_inputs

It's mentioning this method several times: `getTypeName`

But it should actually be `getClassName`

This is the actual interface:
https://github.com/BabylonJS/Babylon.js/blob/master/src/Cameras/cameraInputsManager.ts#L16

[2020-09-18 19:07] saaratrix commented on #2042
I made a PR for the documentation changes and I noticed that in the camera inputs manager there is a typo (intput) :):
https://github.com/BabylonJS/Babylon.js/blob/master/src/Cameras/cameraInputsManager.ts#L22

[2020-09-18 19:11] #1841 closed

[2020-09-18 19:11] #1804 closed

[2020-09-24 02:12] jdeboi opened #2044 "code in docs for Babylon React hook doesn't dispose scene on cleanup"
I copied the code below from the docs and it gave me issues.

Basically I have a react app with a router that is loading and unloading a bunch of component pages, each which contains its own babylon scene. It dramatically slows down over time. Figured out that the scene isn't getting disposed because every time the clean up function is called, scene is null.

Not really sure what's going on, I jus

[2020-09-24 02:16] jdeboi commented on #2044
Also, I disposed of the engine as well because I noticed the onrender function was still running even on pages that didn't the have babylon hook? I'm not sure if that's necessary, but my app is working much better now that I declared engine and scene with function-level scope. Let me know if this is wrong.

[2020-09-24 03:15] jdeboi commented on #2044
Ok, maybe this is a solution?
Basically, I think  engine.runRenderLoop() trigger the render loop on the local "const engine" rather that the hook's state, which meant the render loop isn't getting disposed/ ended when the component unmounts?

I did 3 things: separated the hook state engine / scene from the local scope const scene/engine so that the render loop isn't attached to a variable that dis

[2020-09-24 15:26] deltakosh commented on #2044
Pinging @brianzinn

[2020-09-24 17:38] brianzinn commented on #2044
@jdeboi - good catch.  thank-you for sharing the issue.  Does this work as well:
[code]

The isLoaded state is just meant to run the effect once, so not as part of the dependency list.  I imagine your effect callback is running an extra time?

[2020-09-24 18:40] jdeboi commented on #2044
@brianzinn awesome this works great. Thanks!

[2020-09-24 20:03] #2044 closed

[2020-10-01 16:17] PirateJC opened #2047 "SEO - Fail Doc Builds if missing Page metadata"
Add a step when trying to merge PRs that checks for page metadata. Fail the check if missing metadata.

Admins can override the failure.

[2020-10-07 16:50] PirateJC commented on #2042
This is changed and fixed in the new documentation pages, coming with the 4.2 release. Changes will not be visible until then.

[2020-10-07 16:50] #2042 closed

[2020-10-07 16:52] PirateJC commented on #2039
Thanks for finding this! It's fixed in the new documentation pages that will be released with version 4.2. Changes won't be visible until then.

[2020-10-07 16:52] #2039 closed

[2020-10-07 17:00] PirateJC opened #2052 "Clean Up Playground Namespaces"

[2020-10-07 21:31] PirateJC commented on #1858
We'll be addressing this with our Documentation overhaul for 4.2. Coming soon!

[2020-10-27 19:51] PatrickRyanMS opened #2061 "Turn NME doc page into an NME doc chapter"
The NME doc page covers a lot of ground and does not go deep enough on some aspects of the tool. We should split the page up into several pages that handle one of the modes from node material such as:
- creating a node material, loading, sharing, snippet
- using NME
- standard material
- pbr material
- procedural textures
- post process
- particles

In this way we could take space to dive deeper i

[2020-11-10 20:26] RaananW opened #1 "Missing redirects from old website"
Please comment in this issue if any URL from the old documentation website is not being redirect correctly to a new page in the new documentation page.

[2020-11-10 20:46] deltakosh commented on #1
https://new-doc-page.vercel.app/babylon101/position#sequencing-rotations

[2020-11-10 20:46] deltakosh commented on #1
/resources/rotation_conventions

[2020-11-10 20:47] deltakosh commented on #1
/how_to/rotate

[2020-11-10 20:48] deltakosh commented on #1
/how_to/meshbehavior
/how_to/gizmo

[2020-11-10 20:48] deltakosh commented on #1
/how_to/customizing_camera_inputs

[2020-11-10 20:54] deltakosh opened #2 "Headers should be half big as they are"
![image](https://user-images.githubusercontent.com/1306056/98732357-e4093b00-2353-11eb-8bfe-59a7032ebd3f.png)

[2020-11-10 20:55] deltakosh opened #3 "Scroll bar not restored when navigating"
so if you go there https://new-doc-page.vercel.app/advanced_topics/introToShaders
and then scroll down and click on Using ShaderMaterial the scroll bar does not go back to top
(the new page is loaded bu the scroll bar stays at the bottom)

[2020-11-10 20:56] deltakosh opened #4 "TOC has scroll bar"
![image](https://user-images.githubusercontent.com/1306056/98732505-1adf5100-2354-11eb-9a81-78359a29a476.png)

on: https://new-doc-page.vercel.app/divingDeeper/mesh/copies/instances

[2020-11-10 21:12] deltakosh opened #5 "Define a max width"
To help with readability, I would recommend to set a max-width like in the old site

[2020-11-10 21:19] PolygonalSun opened #6 "VirtualJoysticks appear in custom joysticks scene"
In the Virtual Joysticks section, if you click on the VirtualJoysticks example and then click on the custom joysticks example, the virtual joysticks will appear in the custom joysticks scene.

Repro (100%)
- Navigate to Input -> Virutal Joysticks
- Click on VirtualJoystick Example
- Without reloading, click on Custom Joystick Example
- Try to use the custom joysticks

The VirtualJoysticks will app

[2020-11-10 21:28] sebavan opened #7 "Bullet points are inserted before Playground Demo"
Happens in at least:

https://new-doc-page.vercel.app/divingDeeper/materials/using/masterPBR
https://new-doc-page.vercel.app/divingDeeper/materials/using/introToPBR
https://new-doc-page.vercel.app/divingDeeper/materials/using/parallaxMapping

Probably a common formating issue ?

[2020-11-10 21:29] msDestiny14 opened #8 "Missing Pictures"
https://new-doc-page.vercel.app/divingDeeper/materials/node_material/nodeMaterial#using-the-node-material-editor

Missing pictures on the Custom Frames Section. Should match here: https://doc.babylonjs.com/how_to/node_material

[2020-11-10 21:31] sebavan opened #9 "Some PG are not detected"
In this page for instance:

https://new-doc-page.vercel.app/toolsAndResources/assetLibraries/postProcessLibrary/asciiArtPP
https://new-doc-page.vercel.app/toolsAndResources/assetLibraries/postProcessLibrary/digitalRainPP

[2020-11-10 21:42] deltakosh opened #10 "Move TOC to the left part"
ala Unity: https://docs.unity3d.com/Manual/Components.html

[2020-11-10 21:42] Popov72 opened #11 "No version numbers in the What's new page"
As the title says.

[2020-11-10 21:43] RaananW commented on #3
should be fine now, please check and close if it's working correctly

[2020-11-10 21:45] Popov72 opened #12 "Ability to remove a TOC from a page / to limit the levels"
Maybe some pages don't need a TOC? Like the What's new page.

Or maybe the What's new page needs a TOC but limited to the first level, which would be the version of the engine. Else, the TOC could be very long (see again the What's new page).

So, a mechanism that would allow to tag a page as having a TOC limited to the n first levels could be handy (use n = 0 to remove the TOC).

[2020-11-10 21:54] deltakosh commented on #3
All good!

[2020-11-10 21:54] #3 closed, assigned to nobody

[2020-11-10 22:00] Popov72 opened #13 "Improve selected item appearence in the left menu"
Unity is making it bold + underline when selected, and underline when hover, for eg.

[2020-11-10 22:00] deltakosh opened #14 "When displaying a PG inline the page scrolls a bit losing track where we were before"

[2020-11-10 22:01] Popov72 opened #15 "Space lost in the API page because of the legend"
I find it a shame that the legend takes so much space in the API pages whereas generally you don't need it.

Maybe have a way to fold/unfold it?

[2020-11-10 22:02] deltakosh commented on #2
More like that:

![image](https://user-images.githubusercontent.com/1306056/98738988-6ba77780-235d-11eb-8c26-598f89b4dd7e.png)

[2020-11-10 22:07] Popov72 opened #16 "Hard to locate items in the left menu"
![image](https://user-images.githubusercontent.com/4152247/98739148-2872f600-23a9-11eb-9eea-44164af4d04f.png)
It's not easy to clearly see where each item starts/ends.

Maybe we can add a bullet (or something else) in front of the items:
![image](https://user-images.githubusercontent.com/4152247/98739322-68d27400-23a9-11eb-9f06-6ad3ca9705f3.png)
(from Unity doc)

[2020-11-10 22:24] PolygonalSun commented on #6
After further testing, I've determined that this is actually an issue with the VirtualJoysticks themselves.  Closing and creating a Babylon.js issue for ths.

[2020-11-10 22:24] #6 closed, assigned to nobody

[2020-11-10 22:39] Popov72 opened #19 "Pictures are too big / pixelated"
What about displaying the pictures with their natural width/height?

I feel it's the responsibility of the one creating the doc page to create pictures with the right dimensions.

Trying to have all pictures sharing the same width is not going to work, IMO, as pictures are too different in sizes from pages to pages.

[2020-11-10 22:39] Popov72 opened #20 "Have the left menu resizable"

[2020-11-10 22:44] Popov72 commented on #2
What about simply removing this title? You already have it on the left menu + on the navigation bar at the top:
![image](https://user-images.githubusercontent.com/4152247/98742284-750d0000-23ae-11eb-8255-aec7c4c2389c.png)
We would save quite some space by removing it completely.

[2020-11-10 22:46] Popov72 opened #21 "Unfold the submenu items when clicking a menu"
When clicking an item in the left menu, if it has children we could automatically unfold the sub-items.

[2020-11-11 00:14] Popov72 opened #22 "Broken links + misc"
I tried to perform a thorough review of all the pages, clicking on all possible links (I have certainly missed some)!

I stopped at Diving Deeper -> Materials (not included) if someone wants to take over!

* https://new-doc-page.vercel.app/start/chap1/first_scene
  * not broken, but all the links in the first paragraph points to this page, don't know if it's expected
* https://new-doc-page.vercel.

[2020-11-11 00:16] deltakosh commented on #2
I kind of like that idea!

[2020-11-11 00:21] RaananW commented on #2
Will hurt the page ranking, as there will be no h1 tag stating where the document starts. I don't want the title as well, it is simply something the search engines are still looking for.

I'll reduce the sizes of all h-tags

[2020-11-11 00:27] Popov72 commented on #2
Can't you make a CSS that makes the title invisible? I think the search engines will still find the h1 tag?

[2020-11-11 12:16] RaananW commented on #5
max-width set for all elements in the markdown container

[2020-11-11 12:16] #5 closed, assigned to nobody

[2020-11-11 12:17] RaananW commented on #2
Nope, those kind of hacks easily detected and rather punished :-) Besides, we need to think about other devices (like mobiles).

Headers size reduced

[2020-11-11 12:17] #2 closed, assigned to nobody

[2020-11-11 12:18] RaananW commented on #4
Done.

Sticky behavior removed as well.

[2020-11-11 12:18] #4 closed, assigned to nobody

[2020-11-11 12:19] RaananW commented on #9
This page was not yet formatted by Jason, will be done soone

[2020-11-11 12:19] #9 closed, assigned to nobody

[2020-11-11 12:21] RaananW commented on #10
That's not the ToC, this is the page structure itself.
I will keep this opened, will play with different ways of dealing with the ToC

[2020-11-11 12:33] RaananW commented on #12
The markdown has a metadata configurator written in YAML.

Adding

[code]

will limit the ToC depth, 0 will remove it completely.

[2020-11-11 12:33] #12 closed, assigned to nobody

[2020-11-11 12:33] RaananW commented on #11
fixed :-)

[2020-11-11 12:33] #11 closed, assigned to nobody

[2020-11-11 14:47] RaananW commented on #14
done :-)

[2020-11-11 14:47] #14 closed, assigned to nobody

[2020-11-11 14:48] RaananW commented on #19
Was discussed yesterday, already done

[2020-11-11 14:48] #19 closed, assigned to nobody

[2020-11-11 14:55] #7 closed, assigned to nobody

[2020-11-11 17:57] RaananW commented on #1
@PirateJC - we will need the corresponding page for those as well

[2020-11-11 18:09] RaananW commented on #16
A bullet will make a lot of sense. thanks!

[2020-11-11 18:09] RaananW commented on #15
yeah, i set is invisible in mobile, i can shrink it a bit on desktop

[2020-11-11 18:11] RaananW commented on #13
@PatrickRyanMS - want to weigh in on this one?

[2020-11-11 18:47] PatrickRyanMS commented on #13
I went back to the original design and made a couple of tweaks to make your position stand out more. Not a fan of the underline because it will clip descenders on the type, and an underline commonly means "this is a link" when the whole ToC are links. The tweaks come in two parts to emphasize where you are.

- Make the type for the ToC default to color #6E6259 in Acumin Pro Regular (400)
- Make th

[2020-11-11 21:51] RaananW commented on #1
Need to make sure capitalization works as expected

[2020-11-11 21:52] PirateJC opened #23 "Metadata Links Need to Display on Page"

[2020-11-11 21:57] PirateJC opened #24 "All Media Needs to respect empty lines underneath them"

[2020-11-11 23:26] deltakosh opened #25 "Playground search and playground search from API entries are missing"

[2020-11-11 23:31] deltakosh opened #27 "margin left seems off on latest item of the TOC"
Page:
https://new-doc-page.vercel.app/divingDeeper/particles/particle_system/tuning_gradients

![image](https://user-images.githubusercontent.com/1306056/98876344-f0b09080-2432-11eb-958b-b7d53dc16fe2.png)

[2020-11-11 23:34] sebavan opened #28 "some content thumbnail do not have enough space"
![image](https://user-images.githubusercontent.com/16655165/98876529-ca184700-247e-11eb-9189-47ae6a86f7ab.png)

https://new-doc-page.vercel.app/start

[2020-11-11 23:34] sebavan opened #29 "Header is white on mobile"
any pages vertical  mode

[2020-11-11 23:35] sebavan opened #30 "Media preview can not be closed on mobile"
probably related to #29

[2020-11-11 23:37] deltakosh commented on #1
https://new-doc-page.vercel.app/how_to/physically_based_rendering#pbrmetallicroughnessmaterial

It seems that I cannot find one redirect which works :(

[2020-11-11 23:37] sebavan opened #31 "Media link in table do not have enough space"
![image](https://user-images.githubusercontent.com/16655165/98876765-3d21bd80-247f-11eb-9763-1d626df64908.png)

https://new-doc-page.vercel.app/advanced_topics/webGL2

[2020-11-11 23:38] bghgary opened #32 "No way to get back to home page after clicking on a topic"
@deltakosh suggests "maybe we should add a link to home on the bjs logo on the left"

[2020-11-11 23:46] Popov72 opened #33 "Some titles are too small"
What's new page:
![image](https://user-images.githubusercontent.com/4152247/98877336-86bed800-2480-11eb-9840-05bdd39f63e5.png)

"General" is too small

[2020-11-11 23:51] Popov72 opened #34 "Need more space after a bullet point list"
![image](https://user-images.githubusercontent.com/4152247/98877589-1cf2fe00-2481-11eb-888b-b988a891d892.png)
Also, maybe we should have a little less space before the bullet list starts?

[2020-11-11 23:57] Popov72 opened #35 "Images not displayed with their natural size"
Which leads to display problems:
![image](https://user-images.githubusercontent.com/4152247/98877798-9c80cd00-2481-11eb-97b4-eeeda2f83283.png)
"Original image" text is not centered.

In the old site it is ok:
![image](https://user-images.githubusercontent.com/4152247/98877819-a9052580-2481-11eb-8bdf-1e81c4f218ab.png)

[2020-11-11 23:59] sebavan commented on #1
https://new-doc-page.vercel.app/typedoc/:match*

[2020-11-12 00:02] deltakosh opened #36 "list columns are not large enough on this page"
https://new-doc-page.vercel.app/toolsAndResources/assetLibraries/availableMeshes

[2020-11-12 00:07] PirateJC commented on #1
https://new-doc-page.vercel.app/divingDeeper/Post_Process/Using_Default_Rendering_Pipeline

[2020-11-12 00:09] PirateJC commented on #1
https://new-doc-page.vercel.app/divingDeeper/Post_Process/Using_depth-of-field_and_other_lens_effects

[2020-11-12 00:10] PolygonalSun commented on #1
/How_To/How_to_use_Gamepads 404s.  It should redirect to:
/divingDeeper/input/gamepads

[2020-11-12 00:12] sebavan commented on #1
/babylon101/Picking_Collisions

[2020-11-12 00:13] PirateJC commented on #1
/How_To/Using_depth-of-field_and_other_lens_effects
/How_To/Using_MotionBlurPostProcess
/How_To/Using_ScreenSpaceReflectionsPostProcess
/How_To/Using_Standard_Rendering_Pipeline
/How_To/Using_the_SSAO_rendering_pipeline
/How_To/Caching_Resources_in_IndexedDB

[2020-11-12 00:14] sebavan commented on #1
/babylon101/Raycasts

[2020-11-12 00:14] deltakosh commented on #33
Fixed

[2020-11-12 00:14] #33 closed, assigned to nobody

[2020-11-12 00:21] deltakosh commented on #36
ok it is not actually but it is weird as we wait for the images to load

[2020-11-12 00:32] syntheticmagus commented on #1
200-207 are broken
208-220 work
221 is broken
222-224 work
225 is broken
226-227 work
228 is broken
229-231 work
232 is broken
233-235 work
236-250 are broken

[2020-11-12 00:35] #27 closed, assigned to nobody

[2020-11-12 00:39] Popov72 commented on #1
Corrected lines 50-99 of the json file:

[code]

[2020-11-12 00:42] sebavan commented on #1
just in case /extensions/glTFExporter/glTFExporter => /extensions/glTFExporter should be fixed in master

[2020-11-12 07:11] PirateJC opened #37 "Scrape old docs and fix redirected internal links"

[2020-11-12 15:33] RaananW commented on #36
done

[2020-11-12 15:33] #36 closed, assigned to nobody

[2020-11-12 16:07] RaananW commented on #32
Done :-)

[2020-11-12 16:07] #32 closed, assigned to nobody

[2020-11-12 16:10] RaananW commented on #30
Are you referring to the playground?

[2020-11-12 16:10] RaananW commented on #29
Can you share a screenshot? not sure what header you are referring to

[2020-11-12 16:48] deltakosh opened #38 "when left menu is widely open the last item cannot be clicked"
![image](https://user-images.githubusercontent.com/1306056/98969589-da9ee080-24c3-11eb-9d86-a4f1b16410d3.png)

[2020-11-12 16:49] deltakosh opened #39 "search type in PG search is a bit truncated"
![image](https://user-images.githubusercontent.com/1306056/98969692-f30efb00-24c3-11eb-8fa3-1676903e1210.png)

[2020-11-12 16:50] deltakosh opened #40 "empty title or description should not pop a blue button"
![image](https://user-images.githubusercontent.com/1306056/98969775-0d48d900-24c4-11eb-99cb-fa1e4a98d586.png)

[2020-11-12 16:50] deltakosh opened #41 "The cards in PG search should be of same size"
It is hard to read
![image](https://user-images.githubusercontent.com/1306056/98969897-29e51100-24c4-11eb-9972-f81e28855b7d.png)

[2020-11-12 16:52] deltakosh opened #42 "add an animated wait ring when waiting for PG search results"

[2020-11-12 16:54] RaananW commented on #40
This is an empty tag. Will be fixed.

[2020-11-12 16:58] deltakosh opened #43 ""Fix" PG search results design"

[2020-11-12 17:33] sebavan opened #45 "On IOS can not clause the playground once opened"

[2020-11-12 18:02] RaananW commented on #40
Done, being deployed

[2020-11-12 18:02] #40 closed, assigned to nobody

[2020-11-12 18:06] deltakosh opened #46 "pg links are not large enough when inside a table"
![image](https://user-images.githubusercontent.com/1306056/98978390-c0b6cb00-24ce-11eb-8be4-28132bd11296.png)

[2020-11-12 18:07] deltakosh opened #47 "https://doc.babylonjs.com/toolsAndResources/tools/playground is outdated"

[2020-11-12 18:11] deltakosh opened #48 "clicking on a PG link to open it in a tab also open it locally"

[2020-11-12 18:14] deltakosh opened #50 "all links in procedural texture library are displayed incorrectly"
https://doc.babylonjs.com/toolsAndResources/assetLibraries/proceduralTexturesLibrary

![image](https://user-images.githubusercontent.com/1306056/98979147-d7115680-24cf-11eb-8d30-4cbd35360442.png)

[2020-11-12 18:18] deltakosh opened #51 "suspicious title"
![image](https://user-images.githubusercontent.com/1306056/98979614-67e83200-24d0-11eb-8514-9150bab11780.png)

[2020-11-12 18:19] PirateJC commented on #51
fixed

[2020-11-12 18:19] #51 closed, assigned to PirateJC

[2020-11-12 18:26] PirateJC commented on #50
Fixed!

[2020-11-12 18:26] #50 closed, assigned to PirateJC

[2020-11-12 18:30] #42 closed, assigned to nobody

[2020-11-12 18:32] RaananW commented on #48
fixed, being deployed

[2020-11-12 18:32] #48 closed, assigned to RaananW

[2020-11-12 18:33] #41 closed, assigned to nobody

[2020-11-12 18:36] PirateJC commented on #8
fixed

[2020-11-12 18:36] #8 closed, assigned to PirateJC

[2020-11-12 18:41] #39 closed, assigned to nobody

[2020-11-12 18:42] #35 closed, assigned to nobody

[2020-11-12 18:43] deltakosh opened #52 "rename repo to "Documentation" and make master the deployed branch"

[2020-11-12 18:43] deltakosh commented on #29
Fixed

[2020-11-12 18:43] #29 closed, assigned to nobody

[2020-11-12 18:44] deltakosh commented on #1
Done

[2020-11-12 18:44] #1 closed, assigned to nobody

[2020-11-12 18:44] PirateJC commented on #47
Fixed images

[2020-11-12 18:44] #47 closed, assigned to PirateJC

[2020-11-12 18:49] #23 closed, assigned to RaananW

[2020-11-12 18:49] #24 closed, assigned to RaananW

[2020-11-12 18:56] bghgary opened #53 "Browser address bar and status bar sticks around when scrolling down"
It would be great if the browser's address bar and status bar can go away like normal web pages when scrolling down to regain some vertical space.

[2020-11-12 19:09] RaananW commented on #28
gave it more space, i will make it dynamic if it is not yet fixed

[2020-11-12 19:10] RaananW commented on #25
Both are there (API in the search, playground in the playground search)

[2020-11-12 19:10] #25 closed, assigned to nobody

[2020-11-12 19:10] deltakosh opened #54 "API entries do not have the PG search link anymore"

[2020-11-12 19:46] #13 closed, assigned to nobody

[2020-11-12 20:12] PirateJC opened #58 "Metadata medium articles need to function like links and youtube"
On this page as an example: https://doc.babylonjs.com/toolsAndResources/tools/inspector

There is a medium article in the metadata that does not show up as a card in the further reading section. It should.

![image](https://user-images.githubusercontent.com/1668182/98991030-1e9fde80-24e0-11eb-9f3e-806413c76bac.png)

[2020-11-12 20:15] #21 closed, assigned to RaananW

[2020-11-12 20:19] #16 closed, assigned to nobody

[2020-11-12 20:45] Popov72 opened #59 "Misc issues"
I reviewed everything but "Guided Learning" and "Extensions".

* https://doc.babylonjs.com/divingDeeper/developWithBjs/howToStart
  * http://localhost:1338/sandbox/index-local.html should be http://localhost:1338/sandbox/public/index-local.html
* https://new-doc-page.vercel.app/divingDeeper/developWithBjs/approvedNamingConventions
  * "documentation" => points to the old doc repo
* https://new-doc

[2020-11-13 12:28] RaananW opened #61 "Find duplications"
certain pages are duplicates of others (same content).

Write a script that will find those and warn when building.

[2020-11-13 12:29] #52 closed, assigned to nobody

[2020-11-13 12:29] RaananW commented on #15
Done

[2020-11-13 12:29] #15 closed, assigned to RaananW

[2020-11-13 15:21] RaananW commented on #54
almost done, will be deployed later today

[2020-11-13 17:17] #54 closed, assigned to RaananW

[2020-11-13 17:27] Popov72 opened #62 "Misc issues (2)"
I have finished checking all the pages of the doc repo, here are my findings.

* https://doc.babylonjs.com/guidedLearning/createAGame/musicSFX
  * "Playing Sounds and Music" => 404
* https://doc.babylonjs.com/guidedLearning/createAGame/closing
  * "here" from "You can check out the game here" => 404
* https://doc.babylonjs.com/guidedLearning/videos/videoCourses
  * "Agenda" => broken picture link

[2020-11-13 17:31] Popov72 opened #63 "Wrong indentation for some items"
![image](https://user-images.githubusercontent.com/4152247/99102352-3d849a80-25de-11eb-93b1-a385143af6e5.png)
"Azure Media ..." , "Mesh Writer" and "Texture Canvas" are wrongly indented because they are missing the square icon that denotes a leaf item.

[2020-11-15 13:23] #63 closed, assigned to nobody

[2020-11-15 13:30] #61 closed, assigned to RaananW

[2020-11-15 14:00] Popov72 opened #67 "No indentation in code snippets"
For eg:
![image](https://user-images.githubusercontent.com/4152247/99186819-36cb6400-2753-11eb-85fe-c79ea1fa5352.png)

[2020-11-15 14:16] RaananW commented on #45
Should be fine now, there was an issue with safari as well.

[2020-11-15 14:16] #45 closed, assigned to nobody

[2020-11-15 14:58] RaananW commented on #67
reproduced, fix is being deployed

[2020-11-15 15:18] #67 closed, assigned to nobody

[2020-11-16 00:31] Popov72 opened #68 "Can't fold folders"
Click on "Getting Started", the text, not the icon in front of the text (else it works)!

Items below are unfold => ok.

Click on the icon in front of "Getting Started".

The items are not not folded => not ok.

[2020-11-16 10:58] RaananW commented on #68
Thanks, should be fine now

[2020-11-16 10:58] #68 closed, assigned to nobody

[2020-11-16 11:25] #46 closed, assigned to nobody

[2020-11-16 11:26] #38 closed, assigned to nobody

[2020-11-16 11:26] #31 closed, assigned to nobody

[2020-11-16 12:39] RaananW commented on #37
Wrong internal links will be logged when building/working on a document

[2020-11-16 12:39] #37 closed, assigned to RaananW

[2020-11-16 16:46] deltakosh opened #70 "vercel logo is till hiding the tree view for some reasons"

[2020-11-16 18:07] PirateJC opened #71 "Make 50-100 Playgrounds exposable to the Playground examples pane"
Update playground component to include (isMain="true") to expose them.

[2020-11-16 18:08] #10 closed, assigned to nobody

[2020-11-16 18:40] #70 closed, assigned to RaananW

[2020-11-17 19:49] PatrickRyanMS opened #72 "Controls block thumbnail broken"
The Babylon.js logo on the controls block under the Diving Deeper coming next is shifted from center and is wrapping strangely.

![image](https://user-images.githubusercontent.com/31326855/99439874-9dbf5900-28ca-11eb-91f4-473c83fde6e7.png)

[2020-11-17 20:30] PatrickRyanMS opened #73 "ToC formatting update for legibility"
To help legibility on the table of contents links, we should align the chevron with the first line of links that wrap lines and make the chapter part of the title bold. This will help the reader distinguish where the lines end and be able to distinguish the topics of chapters that line wrap:

![image](https://user-images.githubusercontent.com/31326855/99443635-f1807100-28cf-11eb-96af-f87ba3bf6d56.

[2020-11-17 20:31] RaananW commented on #72
This is actually working as intended. The default image of each article is the first image found in it. The page had an image: https://doc.babylonjs.com/divingDeeper/controls

This can be overridden in the page's metadata. @PirateJC , want to update the image for the controls page?

[2020-11-17 20:34] RaananW commented on #73
I like the idea of removing "chapter". Will leave the decision to @PirateJC .

About the chevron and the bullet point - will be done tomorrow 😁

[2020-11-17 20:37] PatrickRyanMS commented on #72
Makes sense. Given the format of the image on the block, we may need to be diligent about passing images that make sense when viewed in this block if the first image does not lend itself well.

[2020-11-18 02:25] PirateJC commented on #22
All links and images fixed! Thanks so much for the thorough list @Popov72 You rock!

[2020-11-18 02:25] #22 closed, assigned to PirateJC

[2020-11-18 12:57] RaananW commented on #59
Image alignment is now correct,
Text code blocks now have a top margin to separate between them. I leave the rest to @PirateJC  :-)

[2020-11-18 12:58] #28 closed, assigned to nobody

[2020-11-18 12:58] #30 closed, assigned to nobody

[2020-11-18 12:58] RaananW commented on #30
ios/safari issue solved

[2020-11-18 13:05] #34 closed, assigned to nobody

[2020-11-18 13:07] RaananW commented on #43
Initial change implemented:

![image](https://user-images.githubusercontent.com/1381702/99534207-565aca80-29a7-11eb-856e-15585d3f49d7.png)

It is possible to open the playground inline and to open it externally. You can also click on the tokens (tags) to search for other playgrouns with the same tags.

[2020-11-18 13:10] RaananW opened #74 "Write a "Add a new article" guide"
This guide will also need to provide the different special tags (like <Playground>, <img> and <nme>) and explaining how the metadata work

[2020-11-18 16:09] deltakosh commented on #43
Far better :D

[2020-11-20 15:12] RaananW commented on #74
Article updated

[2020-11-20 15:12] #74 closed, assigned to nobody

[2020-11-20 21:57] Popov72 opened #83 "Keep layout for API doc"
We should keep the carriage returns / global layout of the API doc as is, else it makes reading more difficult.

For eg:
![image](https://user-images.githubusercontent.com/4152247/99853634-a68e8400-2b83-11eb-8afd-4336573aefaa.png)

Whereas in the source code it is:
![image](https://user-images.githubusercontent.com/4152247/99853663-b27a4600-2b83-11eb-8728-e044febb8cf8.png)

[2020-11-24 17:54] RaananW commented on #83
I am now using pre-white spaces on the text, so it should be fine.

[2020-11-24 17:54] #83 closed, assigned to nobody

[2020-11-25 07:36] PirateJC commented on #59
Fixed all links apart from these:

https://www.babylonjs.com/?OCTREE from https://doc.babylonjs.com/divingDeeper/scene/optimizeOctrees
https://www.babylonjs.com/?INSTANCES from https://doc.babylonjs.com/divingDeeper/scene/optimizeOctrees
https://www.babylonjs-playground.com/indexStable.html#6F0LKI#2 from https://doc.babylonjs.com/toolsAndResources/tools/playground

[2020-11-25 10:21] #43 closed, assigned to nobody

[2020-11-26 00:14] PirateJC commented on #59
Fixed Octree doc demos.

Leaving indexStable as is for now.

[2020-11-26 00:14] #59 closed, assigned to PirateJC

[2020-11-30 17:39] BoldBigflank opened #98 "Add Filter text input to manage visible class properties"
Re: https://forum.babylonjs.com/t/request-api-doc-index-sidebar-filter/15682/6

The idea is to have a text input at the top of each class page that when typed in will remove visibility of the properties/methods that don't match the input string. This will make it much easier to find the user's desired information.

[2020-11-30 20:38] RaananW commented on #98
sounds great! On my todo list 😊

[2020-12-05 16:31] deltakosh opened #103 "Direct link to API anchor does not work"
Like https://doc.babylonjs.com/typedoc/classes/babylon.tools#loadscript

[2020-12-05 18:26] RaananW commented on #103
What browser are you using? It does, with a minor offset at the top.

[2020-12-08 10:25] RaananW commented on #103
Reopen if persists.

[2020-12-08 10:25] #103 closed, assigned to nobody

[2020-12-08 21:41] PirateJC commented on #62
Have done a pass through all of these. All fixed (or removed if outdated)

[2020-12-08 21:41] #62 closed, assigned to PirateJC

[2020-12-17 11:06] arathore-gaming opened #116 "Missing inline images in Chapters"
On multiple pages images are missing, must be fixed -
![image](https://user-images.githubusercontent.com/6205629/102480279-0ba39f80-4086-11eb-9a10-e96f2481973c.png)

[2020-12-17 11:09] #116 closed, assigned to nobody

[2020-12-17 11:09] abhishekrathore03 opened #117 "Missing inline images in Chapters"
On multiple pages images are missing, must be fixed -
![image](https://user-images.githubusercontent.com/43349236/102480575-794fcb80-4086-11eb-8f79-d3a4d55c6344.png)

[2020-12-21 03:18] richardtallent opened #118 "Contributing Documentation page has broken images"
This page has a number of image links to files that don't exist:

https://github.com/BabylonJS/Documentation/blob/master/content/How_To/contribute/contribute_to_documentation.md

There is a folder here with similar images -- perhaps a recent patch to add the "easy button" instructions for updating markdown files on GitHub didn't include some replacement images?

https://github.com/BabylonJS/Docume

[2020-12-21 11:25] sebavan commented on #118
The links are correct but the template is failing as it apply a 0 * 0 size to the container :-(

@RaananW or @deltakosh  might be able to fix that in no time as soon as they are back from vacations.

[2020-12-21 12:34] RaananW commented on #118
I'll take care of this as soon as I'm on my desktop

[2021-01-05 11:15] #118 closed, assigned to RaananW

[2021-01-05 11:17] RaananW commented on #117
This was resolved by allowing the container to be calculated correctly.

[2021-01-05 11:17] #117 closed, assigned to PirateJC

[2021-01-19 16:07] thomlucc commented on #2052
Done with 4.2

[2021-01-19 16:07] #2052 closed

[2021-01-19 16:08] #2047 closed

[2021-01-19 16:11] thomlucc commented on #1975
Closing per Raanan for #1 and for  #2 (webXR Search) is now working

[2021-01-19 16:11] #1975 closed

[2021-01-19 16:18] thomlucc commented on #1864
Closing as it is now fixed in the new documenation

[2021-01-19 16:18] #1864 closed

[2021-01-19 16:19] thomlucc commented on #1858
Closing as it as been addressed with 4.2

[2021-01-19 16:19] #1858 closed

[2021-01-29 12:39] rassie opened #140 "Document wrapping BabylonJS observables to other types of observables"
Reference from forum with further information: https://forum.babylonjs.com/t/rxjs-observable/10438/5

[2021-02-07 16:56] Vinc3r opened #149 "add a checkbox to show all-but-API when using search field"
relative to https://forum.babylonjs.com/t/brand-new-documentation/15638/44?u=vinc3r

Button name could be something like "Doc only"?

[2021-02-09 17:57] Awe1alex opened #152 "Wrong playground link in documentation"
on page https://doc.babylonjs.com/start/chap2/copies
which is "Getting Started - Chapter 2 - Making Copies"

"Expanding the House Building Function" example leads to Example from "Getting Started - Chapter 2 - Combining Meshes"  ""Combining Meshes In Your Scene" https://playground.babylonjs.com/#KBS9I5#75

[2021-02-12 19:15] thomlucc opened #153 "Turn NME doc page into an NME doc chapter"
@PatrickRyanMS commented on [Tue Oct 27 2020](https://github.com/BabylonJS/OldDocumentationSite/issues/2061)

The NME doc page covers a lot of ground and does not go deep enough on some aspects of the tool. We should split the page up into several pages that handle one of the modes from node material such as:
- creating a node material, loading, sharing, snippet
- using NME
- standard material
- p

[2021-02-12 19:15] #2061 closed

[2021-02-12 19:15] thomlucc commented on #2061
Issue moved to [BabylonJS/Documentation #153](https://github.com/BabylonJS/Documentation/issues/153) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-12 19:16] thomlucc opened #154 "Babylon 101 Video Tutorial Series"
@thomlucc commented on [Mon May 18 2020](https://github.com/BabylonJS/OldDocumentationSite/issues/1955)

From [#6509](https://github.com/babylonjs/babylon.js/issues/6509) in Babylon.js repo

Create a series of tutorial/walkthrough videos to accompany the Babylon101 documentation.
 These videos will help walk folks who are new to Babylon, through the beginning basics of how to use it.

- [ ] Intro

[2021-02-12 19:16] #1955 closed

[2021-02-12 19:16] thomlucc commented on #1955
Issue moved to [BabylonJS/Documentation #154](https://github.com/BabylonJS/Documentation/issues/154) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-12 19:17] thomlucc opened #155 "Add a note about how to control glow layer with NME"
@deltakosh commented on [Thu Feb 20 2020](https://github.com/BabylonJS/OldDocumentationSite/issues/1896)

[2021-02-12 19:17] thomlucc commented on #1896
Issue moved to [BabylonJS/Documentation #155](https://github.com/BabylonJS/Documentation/issues/155) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-12 19:17] #1896 closed

[2021-02-12 19:21] thomlucc opened #156 "NME: Document the priority order for the values in Vector Merger"
@thomlucc commented on [Wed Feb 19 2020](https://github.com/BabylonJS/OldDocumentationSite/issues/1890)

This appears to take the lower values in priority order XYZ < X+Y+Z+W once you have enough channels to produce the output (XY immediately replaces XYZ, but you need to connect X+Y+Z to override XY).

![image.png](https://images.zenhubusercontent.com/5dae4b4d14fb1000015c0e1e/1939119e-8bb5-4f0c-a

[2021-02-12 19:21] #1890 closed

[2021-02-12 19:21] thomlucc commented on #1890
Issue moved to [BabylonJS/Documentation #156](https://github.com/BabylonJS/Documentation/issues/156) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-12 19:22] thomlucc opened #157 "NME: document and explain expected range of "distance" on the Replace Color node"
@thomlucc commented on [Wed Feb 19 2020](https://github.com/BabylonJS/OldDocumentationSite/issues/1889)

Question: What is the expected range of "distance" on the Replace Color node? It seems as though a value of 1.0 does not cover the whole range of possible replacement color values. I'm finding around 1.22-1.24 is needed to completely replace all tones of color, or is this just an isolated insta

[2021-02-12 19:22] #1889 closed

[2021-02-12 19:22] thomlucc commented on #1889
Issue moved to [BabylonJS/Documentation #157](https://github.com/BabylonJS/Documentation/issues/157) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-12 19:23] thomlucc opened #158 "Add what import are needed for each class"
@thomlucc commented on [Tue Feb 18 2020](https://github.com/BabylonJS/OldDocumentationSite/issues/1887)

A game developer used typescript to port a game, and sometimes found it difficult to locate what imports he needed to access a certain class - having this listed clearly in the docs for each class would be really useful.

[2021-02-12 19:23] thomlucc commented on #1887
Issue moved to [BabylonJS/Documentation #158](https://github.com/BabylonJS/Documentation/issues/158) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-12 19:23] #1887 closed

[2021-02-12 19:24] thomlucc opened #159 "Refresh documentation structure"
@thomlucc commented on [Thu Jan 16 2020](https://github.com/BabylonJS/OldDocumentationSite/issues/1842)

- [x] Refresh design and content to ensure documentation landing page is as accessible as possible to a variety of audiences (developers, artists, tech artists, expert, beginners...). [Forum thread](https://forum.babylonjs.com/t/is-documentation-overview-on-the-doc-first-page-really-useful/8045

[2021-02-12 19:24] thomlucc commented on #1842
Issue moved to [BabylonJS/Documentation #159](https://github.com/BabylonJS/Documentation/issues/159) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-12 19:24] #1842 closed

[2021-02-12 19:25] thomlucc opened #160 "Add glTF extension support feature list to 3dsmax, maya and gltf serializer"
@sbtron commented on [Mon Oct 22 2018](https://github.com/BabylonJS/OldDocumentationSite/issues/1296)

Docs need to be updated to reflect latest capabilities and can have a summary table that follow the pattern form here - https://github.com/KhronosGroup/glTF/issues/1271#issuecomment-371204827

---

@sbtron commented on [Thu Apr 25 2019](https://github.com/BabylonJS/OldDocumentationSite/issues/129

[2021-02-12 19:25] thomlucc commented on #1296
Issue moved to [BabylonJS/Documentation #160](https://github.com/BabylonJS/Documentation/issues/160) via [**ZenHub**](https://www.zenhub.com/)

[2021-02-12 19:25] #1296 closed

[2021-02-17 14:39] RaananW opened #163 "Update typedoc to 0.20.X"

[2021-02-19 09:42] LukeTOBrien opened #165 "Explain `engine` variable"
Hello there,

Your documentation is really wonderful, the best I've seen - Even better than MSDN

In your [Chapter 1](https://doc.babylonjs.com/start/chap1/first_scene#say-hello-to-your-first-world) you talk about the scene and you have the following code:

[code]

You don't seem to explain what the `engine` variable is, unless I missed it, I noticed from a later code snippet that it is a `BABYLON

[2021-02-19 18:36] kihonkai commented on #152
It looks like the expected playground exists here: https://playground.babylonjs.com/#KBS9I5#77

[2021-02-19 18:52] PirateJC commented on #152
Awesome thank you! Making this change now!

[2021-02-20 17:58] kihonkai opened #167 "Wrong playground link in documentation - Chapter 6 - Particle Spray"
on the page: https://doc.babylonjs.com/start/chap6/particlespray
Getting Started - Chapter 6 - Particle Spray

the second playground link is titled: Add the Spray
It links to: https://playground.babylonjs.com/#TC31NV#4

While the first playground link is titled: A Basic Particle Fountain
and links to: https://playground.babylonjs.com/#TC31NV#4

The second link appears to exist here: https://playgr

[2021-02-20 18:03] kihonkai commented on #167
Does it seem like the titles might be wrong too?  The first one fits the page before (https://doc.babylonjs.com/start/chap6/fountain) and the second fits the next page (https://doc.babylonjs.com/start/chap6/onoff).

[2021-02-21 09:38] LukeTOBrien opened #168 "Chapter 3 - Explain maths of creating the curve"
Hello,

You have code in [Chapter 3](https://doc.babylonjs.com/start/chap3/polycar) that creates the `Vector3`s for the curved front of the car:

[code]

I think it would be useful as a aside (collapsable `div`?) if you explained the maths.
Why loop until 20? Why divde by 40? etc.

Some people might like to encapsulate the code into a function, so they would need to know what the variables are.

J

[2021-02-21 21:53] LukeTOBrien opened #169 "Explain earcut in Chapter 3/Links to API ref and other pages."
Me again.

Whilst following your [tutorial Chapter 3](https://doc.babylonjs.com/start/chap3/polycar) on my own file system I get the error `earcut is not defined`.
I had a look in your documentation and I found [Polygon Mesh Builder](https://doc.babylonjs.com/divingDeeper/mesh/creation/param/polyMeshBuilder) says:

I think a lot of beginers will do the same as I did, work through the code on their

[2021-02-24 01:38] PirateJC commented on #71
This has now been done.

[2021-02-24 01:38] #71 closed, assigned to PirateJC

[2021-03-18 12:11] brian-hay opened #190 "Missing inspector extensibility documentation"
In the API docs for [Node.inspectableCustomProperties](https://doc.babylonjs.com/typedoc/classes/babylon.node#inspectablecustomproperties) there's an anchor link into the documentation which doesn't exist: https://doc.babylonjs.com/how_to/debug_layer#extensibility

This inspector extensibility is such a cool feature I only just discovered and was able to work out from the API docs, but it'd be gre

[2021-03-21 23:22] #190 closed, assigned to nobody

[2021-03-24 10:22] JPeer264 opened #197 "Adding GUI with billboardMode = all"
I raised [a ticket](https://forum.babylonjs.com/t/advanceddynamictexture-createformesh-rotate-with-camera/19421) yesterday in the forum. The answer is indeed nice, and not part of the [GUI documentation](https://doc.babylonjs.com/divingDeeper/gui/gui)

If this is a great case for the documentation, I would add it into the docs (would be a great addition to the second example `Texture MODE`. Here i

[2021-03-27 16:39] JakeLaCombe opened #199 "Blender Exporter Install is missing a few steps"
While doing the blender export, I notice there was a few extra steps to get the exporter installed according to this issue (https://github.com/BabylonJS/BlenderExporter/issues/20). Essentially, it's not the zip file from github you install. You download the zip file, unzip it, and within the unzipped folder, there is an additional zip folder. That's the one to install.

Would it be worth adding th

[2021-04-06 11:32] RaananW opened #207 "Add the ability to create notifications in docs"
For example a warning that a feature is not available in XR or that a certain function is deprecated.
This will require a new markdown element that can be added to doc pages.

[2021-04-16 15:58] RaananW commented on #197
@msDestiny14 - want to take care of that?

[2021-04-16 15:59] RaananW commented on #199
It will be great if you can share your experience! We will be happy to merge it :-)

[2021-04-16 16:10] msDestiny14 commented on #197
Adding to the docs sure! :)

[2021-04-16 17:08] PirateJC commented on #167
This has all been fixed now.

Thanks so much for flagging this @kihonkai

[2021-04-16 17:08] #167 closed, assigned to PirateJC

[2021-04-16 17:09] PirateJC commented on #168
I'll pass this one over to @BabylonJSGuide to get his thoughts on it.

[2021-04-16 19:32] msDestiny14 commented on #197
This is merged can now close :)

[2021-04-16 19:49] #197 closed, assigned to nobody

[2021-04-28 18:23] wilcoschoneveld opened #220 "Contribution guide outdated"
Hello!

I just recently got involved with BabylonJS and I would like to contribute. However, when initializing and building the repository locally I get a whole lot of file changes which clogs up my entire git tree.

In the official guide ([here](https://doc.babylonjs.com/divingDeeper/developWithBjs/howToStart#the-build)) it's stated that one should `git update-index --assume-unchanged` a bunch of

[2021-04-29 09:26] RaananW commented on #220
Hey, Thanks a lot for the willing to help!
The forum would be the right place to talk about it, but i totally agree, the guide is outdated.
There is no need for weird git commands. All you need to do is fork, fetch, merge, branch, commit, submit a PR 😎. Reading this makes me wonder why i think it's simple...

Want to discuss this on the forum? This way the rest of the team will be able to contribu

[2021-04-30 16:15] wilcoschoneveld commented on #220
Thanks @RaananW, I started a topic on the forum here: https://forum.babylonjs.com/t/what-is-the-best-workflow-for-contributing-to-babylonjs/20463

[2021-04-30 16:15] #220 closed, assigned to nobody

[2021-05-06 12:34] BabylonJSGuide opened #231 "Missing Images at start of page"
@RaananW  Similar to closed issue #117

Ref https://doc.babylonjs.com/guidedLearning/workshop/Geodesic_Math first three images not showing up. Had this problem when working locally with this page, except that on some occasions they did appear.  Hoped it would not happen after the PR.

[2021-05-07 09:50] RaananW opened #232 "BoundingInfo - explain the different types of strategies"
main issue here - https://doc.babylonjs.com/typedoc/classes/babylon.boundinginfo#isinfrustum . We should explain what each strategy does, or at least link to the right place in code.

[2021-06-01 08:15] BabylonJSGuide opened #249 "Using Navigation Menu ToCs and PG panel do not refresh"
When choosing a page from the navigation panel the ToCs from current page are displayed along with new ToCs and the PG panel on the right contains both the Pgs from the current and new page.

Happens using Firefox 88.0.1 and Chrome Version 90.0.4430.212 (Official Build) (64-bit)

[2021-06-02 11:22] RaananW commented on #163
An update regarding this issue -

the new typedoc requires the source and the associated tsconfig file in order to compile the documentation correctly. This prevents us from compiling the documentation pages directly in this repository.
Will keep the current version to stay consistent, but in the future we will need to compile the API documentation as part of the core repository's CI process.

[2021-06-02 15:22] #249 closed, assigned to RaananW

[2021-06-15 20:16] deltakosh opened #262 "Add examples for NME (in the PG examples)"

[2021-06-16 11:25] RaananW commented on #262
The documentation page supports NME. It does display the entire screen though, as there is no preview (frame)  mode

[2021-06-16 14:57] deltakosh commented on #262
I meant examples for the playground page here:
![image](https://user-images.githubusercontent.com/1306056/122242816-776d9600-ce78-11eb-973a-0b92431b6c0b.png)

I did several demos and each time I want to showcase NodeMaterial loading I need to dig into the doc

[2021-06-16 17:02] RaananW commented on #262
Oh, awesome. So it's only adding the category and marking a few.

[2021-06-18 22:06] thomlucc commented on #231
Looks like it is fixed. Please re-open if needed.

[2021-06-18 22:06] #231 closed, assigned to nobody

[2021-06-18 22:07] thomlucc commented on #199
Hi @JakeLaCombe - Can you elaborate on what issues you had and better yet submit a PR with the modifications you'd like to see?

[2021-06-18 22:09] thomlucc commented on #169
Hi @LukeTOBrien, thanks for flagging this. Would you be willing to submit a small PR about it?

[2021-06-18 22:12] thomlucc commented on #168
Thanks for the suggestion! We are trying to keep the starting guide as simple as possible and not introducing HTML or more advanced concepts and focusing on Babylon.js math.

[2021-06-18 22:12] #168 closed, assigned to PirateJC

[2021-06-18 22:13] thomlucc commented on #165
Really great suggestion! @PirateJC can we add something here?

[2021-06-18 22:15] #160 closed, assigned to thomlucc

[2021-06-18 22:15] thomlucc commented on #160
Issue moved to [BabylonJS/Exporters #975](https://github.com/BabylonJS/Exporters/issues/975) via [**ZenHub**](https://www.zenhub.com/)

[2021-06-18 22:18] #159 closed, assigned to PirateJC

[2021-06-18 22:26] thomlucc commented on #157
Can we add to the replace color block description to indicate the proper replacement distance value when connecting in a gradiant on https://doc.babylonjs.com/divingDeeper/materials/node_material/nodeMaterial#list-of-available-blocks. @Popov72 - Do you have any guidance on this?

[2021-06-18 22:29] thomlucc commented on #155
@PirateJC reference [this video](https://youtu.be/5ZuM-WLqEPQ) please and some comments. thx

[2021-06-18 22:30] thomlucc commented on #154
Perhaps map the Babylon 101 series to the new Getting Started series

[2021-06-18 23:40] JakeLaCombe commented on #199
Sure!

So it's something that is very small, but I think it can be confusing. On the first line of the installation instructions here (https://doc.babylonjs.com/extensions/Exporters/Blender#installation), it says that you don't need to unzip the folder, but what I had to do was unzip the code at https://github.com/BabylonJS/BlenderExporter, and inside that file there is another file you need to in

[2021-06-18 23:47] thomlucc commented on #199
Thanks for the detailed explanation. If you were confused, probably others will be so it would be great if you can submit a PR.

[2021-06-19 09:39] Popov72 commented on #157
I'm not sure to understand what is the relation between this block and a gradiant?

I think however that the description is misleading, there's no blending of colors: the output color is `replacement` if the distance between `value` and `reference` is less than distance, else it is `value`. I have created a PR in the doc and main repo to update the description.

[2021-06-21 14:41] Palmer-JC commented on #199
If you are going to change, you might just have them click on the zip
file.  It brings up a page with a download button.  That will get the zip
file to use.  The user has no need to either download or fork the repo
itself.
[image: zip file.JPG]

On Fri, Jun 18, 2021 at 7:48 PM Thomas Lucchini ***@***.***>
wrote:

[2021-06-21 14:55] Palmer-JC commented on #199
Sorry I replied by mail.  I guess picture do not go through.

![zip file](https://user-images.githubusercontent.com/7916131/122782816-0581bc00-d27f-11eb-8a7c-fefc085048d5.JPG)

[2021-06-21 16:51] PirateJC commented on #158
This is technically already available.

You can find the information here:
https://doc.babylonjs.com/divingDeeper/developWithBjs/treeShaking#faq

[2021-06-21 16:51] #158 closed, assigned to PirateJC

[2021-06-21 16:56] PirateJC commented on #72
Needed in the image filter control preview box as well

![image](https://user-images.githubusercontent.com/1668182/122799767-f991fc00-d276-11eb-9616-68fb77cafc0d.png)

[2021-06-21 16:58] PirateJC commented on #53
For clarification, this would be for mobile only.

[2021-06-22 15:41] PirateJC commented on #262
https://github.com/BabylonJS/Documentation/pull/266

[2021-06-22 15:41] #262 closed, assigned to PirateJC

[2021-06-28 02:33] JakeLaCombe commented on #199
Thank you! That's what confused me! When I saw the zip part, I was thinking
it meant download the entire repo as a zip and import it, not the
individual file in the root file.

For me, I maybe would have said in the first step "Download the
Blender2Babylon-xxx.zip found in the root directory", but this was just my
experience installing this tool.

On Mon, Jun 21, 2021 at 9:55 AM Jeff Palmer ***@**

[2021-06-28 08:15] RaananW opened #273 "Back button clearing an anchor doesn't work in API docs"
See https://forum.babylonjs.com/t/documentation-interaction-design-bug/21913

In general - when choosing an anchor in the docs and pressing the back button, the expected behavior would be to go back to the origin from which the anchor was pressed.

Moving between two anchors work as expected. it is just when removing the anchor altogether.

[2021-06-28 10:29] RaananW commented on #199
Want to submit a fix for that page?

[2021-06-29 04:25] rdw-software commented on #165
I concur, I didn't understand what an "engine" is supposed to be or why I as a beginner should care about it either back when I started using BabylonJS.

IMHO, the following questions should be answered:

* What is the ``Engine``?
* Why is it needed?
* What else can I do with it (link to API docs/further reading, too much information otherwise)?

[2021-07-20 18:51] LukeTOBrien commented on #169
I would be willing to have a try, I can explain how I found out about it myself

[2021-07-20 19:51] LukeTOBrien commented on #169
I've created a PR https://github.com/BabylonJS/Documentation/pull/286

[2021-07-20 20:28] #169 closed, assigned to nobody

[2021-09-02 18:39] andreasplesch opened #315 "Texture Canvas examples do not work in 5.0"
https://doc.babylonjs.com/extensions/textureCanvas links to two Playground examples which do not seem to work in 5.0.0 but do work in 4.2.0 , for me (Chrome, webgl2, linux).

So this may be more of a TextureCanvas extension [issue](https://github.com/BabylonJS/Extensions/issues/227) than a documentation issue. But for now the documentation could link to a 4.2.0 playground (if possible) to avoid co

[2021-09-02 20:41] RaananW commented on #273
resolved with an early pr

[2021-09-02 20:41] #273 closed, assigned to RaananW

[2021-09-02 22:56] sebavan commented on #315
I ping @poolminer there as he is the maintainer for the TextureCanvas so lets see if he is available to help :-)

cc @RaananW and @PirateJC for the follow up.

[2021-09-11 00:06] deltakosh opened #320 "Documentation about vertex shader promotion"
https://forum.babylonjs.com/t/curious-if-its-possible-to-sample-multiple-tiling-textures-from-a-single-texture-atlas-in-babylon-js/23552/23

[2021-09-11 00:08] deltakosh opened #321 "ACE documentation"
Thanks :)

[2021-09-20 21:17] PirateJC opened #330 "NME - Add documentation about new ImageSourceBlock"
NME - Add documentation about new ImageSourceBlock

[2021-10-18 08:50] RaananW opened #356 "Playground links in the ts docs are not clickable."
See https://forum.babylonjs.com/t/un-clickable-links-in-documentation/24494

[2021-10-19 10:45] #356 closed, assigned to RaananW

[2021-10-19 10:47] RaananW opened #359 "Remove all mentions of deprecated functions in code samples"
Any mention of deprecated functions (like Mesh.Create???) should be replaced with the new function.

[2021-10-22 18:40] deltakosh opened #361 "Add documentation for CloudNode"

[2021-10-26 14:49] #361 closed, assigned to PirateJC, PatrickRyanMS

[2021-11-08 18:01] PirateJC opened #379 "Update .babylon File Format Doc"
Refresh and update the documentation page that talks about what is included in the .babylon file format.

See forum thread for reference:
https://forum.babylonjs.com/t/babylon-file-format-documentation/25057/3

[2021-11-22 23:09] brian-hay opened #392 "Getting started - "Babylon viewer" page detracts from flow for beginners"
This is more of an observation and I just wanted to open it up for discussion. I was re-reading the "Getting Started" docs, trying to look at them from a beginner perspective.

The second page https://doc.babylonjs.com/start/chap1/first_viewer I feel is necessary yes, but possibly not the right place for it, as using the viewer to display 3D models is quite different to creating your first basic s

[2021-11-22 23:27] sebavan commented on #392
This is a pretty good remark !!! Let s see what @PirateJC and @RaananW think about it ?

[2021-11-23 00:12] PirateJC commented on #392
@brian-hay thanks for sharing your perspective. I tend to agree that it might be a little out of the "flow"for a beginner. The hard part here is that each of us brings different understanding and knowledge to what we think about when we say "beginner."

Let me think about this for a little bit and if moving it do a different place is the right decision here.

Also adding @BabylonJSGuide to weigh i

[2021-11-29 18:01] PirateJC commented on #72
Talked to @RaananW - Looks like the metadata image property isn't being updated properly?

When setting the image property to the default image the coming next images still appear broken.

[2021-11-29 18:39] RaananW commented on #72
the metatdata key should be `image-url` instead of `image`

[2021-11-29 20:15] PirateJC opened #394 "Node Material Node Descriptions Page"
Split apart the Node Material page into two different pages.

All node descriptions can be on a separate page.

Also add the following new node descriptions:

General notes:

•	Scene depth shows up in the Inputs section in the docs, but is under Scene in NME, we should move it under scene in the docs

Inputs:

ImageSource: A node for reading an embedded or linked image that can be shared across se

[2021-11-29 21:48] PirateJC commented on #72
You sir, are a GENIUS!

fixed!

https://github.com/BabylonJS/Documentation/pull/395

Note - Currently all doc pages have metadata currently using the 'image' property. We MIGHT want to consider doing a batch operation to fix them all? Thoughts?

[2021-11-29 21:48] #72 closed, assigned to PirateJC

[2021-11-29 22:07] PirateJC commented on #152
This was fixed back in Feb. Closing.

[2021-11-29 22:07] #152 closed, assigned to PirateJC

[2021-11-29 22:20] PirateJC commented on #73
Fixed:

https://github.com/BabylonJS/Documentation/pull/396

[2021-11-29 22:20] #73 closed, assigned to PirateJC

[2021-11-29 22:56] PirateJC commented on #155
Done.

https://github.com/BabylonJS/Documentation/pull/397

Added a new sub section for using the glow layer with a Node Material.

Included a small overview, the playground example from @PatrickRyanMS's video and the video itself.

[2021-11-29 22:56] #155 closed, assigned to PirateJC

[2021-12-01 22:03] PirateJC commented on #394
Addressed in this PR:

https://github.com/BabylonJS/Documentation/pull/401

[2021-12-01 22:03] #394 closed, assigned to PirateJC

[2021-12-01 22:05] PirateJC commented on #153
Addressed in this PR:

https://github.com/BabylonJS/Documentation/pull/401

[2021-12-01 22:05] #153 closed, assigned to PirateJC

[2021-12-01 22:06] PirateJC commented on #330
Addressed in this PR:

https://github.com/BabylonJS/Documentation/pull/401

[2021-12-01 22:06] #330 closed, assigned to PirateJC

[2021-12-01 22:36] PirateJC commented on #156
No longer applicable. The priority order of the node itself changed to hierarchical top down.

[2021-12-01 22:36] #156 closed, assigned to PirateJC

[2021-12-01 23:05] PirateJC commented on #157
It looks like this was largely taken care of already, but I added an example NME snippet that shows how to use the node. That should help future people see it working to understand it further.

https://nme.babylonjs.com/#98NGSE

https://github.com/BabylonJS/Documentation/pull/403

[2021-12-01 23:05] #157 closed, assigned to PirateJC

[2021-12-01 23:31] PirateJC commented on #165
Awesome suggestions everyone! Sorry for the delay in getting to this.

I've added a description of why the engine variable is needed in the scene constructor:

https://github.com/BabylonJS/Documentation/pull/404

[2021-12-01 23:31] #165 closed, assigned to PirateJC

[2021-12-07 17:02] PirateJC opened #408 "Add Bounding Box Page to Mesh Docs"
For reference:

https://forum.babylonjs.com/t/whats-the-use-of-billboardmode/25830

[2021-12-13 16:53] PirateJC commented on #321
Done

[2021-12-13 16:53] #321 closed, assigned to PirateJC

[2021-12-14 15:16] 1-800-jono opened #414 "Video tutorials are broken"
Seems the video tutorials located at: https://doc.babylonjs.com/guidedLearning/videos are down. Checked in FF and Chrome.

[2021-12-14 17:10] PirateJC opened #416 "Add YouTube Videos to Guided Learning Section"
The old tutorial videos were removed by the hosting service.

It's time to replace them with more recent content.

https://github.com/BabylonJS/Documentation/issues/414

[2021-12-14 17:11] PirateJC commented on #414
Thanks for flagging this!

It looks like the hosting service for the videos in that section of the docs decided to remove the content.

It's actually ok though. That content was pretty old and outdated so it was probably time to remove it.

I've captured a new issue to tackle this in the new year.

https://github.com/BabylonJS/Documentation/issues/416

[2021-12-14 17:11] #414 closed, assigned to PirateJC

[2021-12-15 14:52] carolhmj opened #417 "Add section on service worker caching"
Looking at this issue: https://forum.babylonjs.com/t/gltf-file-cache-not-updating/12656, I think it could be interesting to have a section on the caching page: https://doc.babylonjs.com/divingDeeper/scene/optimizeCached dedicated to service workers. Seems like they are the recommended solution for caching file-based content, in which our models would fall into: https://web.dev/storage-for-the-web/

[2022-01-11 00:32] BabylonJSGuide opened #441 "Add tooltip using title to further reading"
Ref https://forum.babylonjs.com/t/tooltip-for-docs-further-reading-images/26586/4?u=johnk

[2022-01-27 11:28] BabylonJSGuide commented on #441
This seems to be an issue when there are playgrounds frame is displayed as it displays the further reading sections on the same line as square boxes forcing the text to be squeezed vertically into a small space.

[2022-01-27 11:29] BabylonJSGuide opened #457 "Firefox displays first image on a page as 1px by 1px"

[2022-02-12 19:28] bmcbarron commented on #379
What do you think about creating an official JSON schema for the .babylon format, and using that as a significant part of the official documentation of the file format? I've already started the process in my VS Code workspace, to better understand the format, myself. The process is straightforward, if a bit tedious the first time (updates are quick).

If desired, I volunteer to finish the schema d

[2022-02-14 16:00] RaananW commented on #379
I like the idea of having a schema for the babylon file. I believe this was never a high priority because this type of file is usually expected to be exported from an editor such as Blender, and not be manually edited.

We will not add any validation tools to the framework itself, but as you say it will be a great tool for people using IDEs like VS Code that can validate the file.

[2022-02-21 21:31] bmcbarron commented on #379
OK, I finished a [version of the schema](https://github.com/bmcbarron/vscode-babylonjs-viewer/tree/main/static/schema). There's probably some issues, but it's hard to tell without more examples. I was happy with the ability of the schema to capture the information currently documented on the format, including: comments, default values, optional values, enumerated types, etc. The only thing it wasn

[2022-02-28 10:32] obasille opened #478 "ReactNative: broken link to Cubeslam Blog describing proof of concept"
In this page:
https://doc.babylonjs.com/extensions/Babylon.js+ExternalLibraries/BabylonJS_and_React_Native

The link at the end to Cubeslam Blog is no longer valid:
http://cubeslam.net/2017/11/16/babylonjs-inside-react-native-inception-style/

[2022-03-02 12:39] sknightq opened #479 "Something wrong on the page of Materials and Vertices"
On the page of Materials and Vertices, I think something wrong with the [content](https://doc.babylonjs.com/divingDeeper/materials/advanced/facet_uvs#issues-with-adjoining-faces).

I think the content should be: **vertex 3 to be vertex 3 to be assigned (0, 1) and (1, 1)**

[2022-03-03 12:18] RaananW commented on #479
I am pretty sure the sentence is correct, but I will be happy to be proven wrong. vertex3 cannot be assigned both of those values. It is being assign 0,1, as written in the section before - https://doc.babylonjs.com/divingDeeper/materials/advanced/facet_uvs#textures-at-vertices

[2022-03-07 04:07] sknightq commented on #479
@RaananW I mean that the coordinate of UV(texture) is wrong, the vertex 3 is mapped to (0,1) or (1,1) as the following image.
![Screenshot from 2022-03-07 12-01-59](https://user-images.githubusercontent.com/8033144/156965827-154fb05f-c2b6-4a0b-b47d-c468eb314c9d.png)

[2022-03-09 11:56] RaananW commented on #478
@bghgary - know of a different source for the article? Or should this link be removed?

[2022-03-11 22:07] syntheticmagus opened #486 "Page preview images fail to load if they have size parameters"
It appears that pages choose their preview images (the images displayed in the "Coming next" section of parent pages, for example) by selecting the first image that appears on the page. However, if that image has a size parameter, as in the case of
[code]
then the preview will fail to load the image. This can be seen at present on the Dev Stories parent page.

https://doc.babylonjs.com/guidedLearn

[2022-03-11 22:08] syntheticmagus commented on #486
Pinging per your request, @RaananW.

[2022-03-21 14:20] Myrmod opened #501 "Documentation for v5 BABYLON.GridMaterial not up to date"
I wanted to use the `BABYLON.GridMaterial` from https://doc.babylonjs.com/toolsAndResources/assetLibraries/materialsLibrary/gridMat#using-the-grid-material, however the links are broken.

I can create a pull request if I find the required file , if that's ok with you.

[2022-03-21 14:24] sebavan commented on #501
I think they are all removed from the repo following the latest changes. They should probably point at our CDN. cc @RaananW to confirm ?

[2022-03-24 20:21] deliciouslyevil opened #504 "Links to GitHub are broken for Viewer Examples"
Have been trying to access the code for the examples but they all give a 404 error:
https://doc.babylonjs.com/extensions/babylonViewer/viewerExamples
eg) https://github.com/BabylonJS/Babylon.js/blob/master/Viewer/dist/basicExample.html

[2022-03-28 14:52] #486 closed, assigned to RaananW

[2022-03-29 06:26] #504 closed, assigned to RaananW

[2022-04-21 04:13] rpaladin opened #534 "Broken links under "Playground" section"
Webpage reference: https://doc.babylonjs.com/divingDeeper/developWithBjs/frameworkVers

![image](https://user-images.githubusercontent.com/69180012/164370293-afe96148-0789-4b7e-b929-5c11713adc53.png)

## Issue 1
Highlighted `Typescript` links through incompatible/missing Typescript functions - strangely the other demo links all work fine in Typescript, whether initially or on api toggle.

## Issue

[2022-04-23 03:40] rpaladin commented on #501
@Myrmod in case you didn't were able to find the mentioned migrated scripts, here's a link to the CDNs:

Developer version: https://cdn.babylonjs.com/materialsLibrary/babylon.gridMaterial.js
Release version: https://cdn.babylonjs.com/materialsLibrary/babylon.gridMaterial.min.js

[2022-04-25 10:55] RaananW commented on #501
I was pretty sure I went over all links to the dist folder, but it seems like some are still there! Sorry about that.

as @rpaladin wrote, the CDN holds those files. Our repository no longer stores them.

I am keeping this open. Will close this once all links are removed.

[2022-04-25 10:57] Myrmod commented on #501
I understand, thank you. I will give them a try

[2022-04-25 10:57] #501 closed, assigned to nobody

[2022-04-25 14:04] RaananW opened #537 "Incorrect playground links in several pages"
A good example is this - https://doc.babylonjs.com/divingDeeper/materials/using/masterPBR#iridescence

[2022-04-26 18:11] PirateJC opened #539 "Fix Home Page Link issue on responsive sites"
On Desktop the top logo can be clicked to go back to the home page.

On tablet/mobile you cannot click the top logo.

[2022-04-27 14:06] RaananW commented on #539
Done, clicking the babylon logo will go to the home page

[2022-04-27 14:07] #539 closed, assigned to RaananW

[2022-04-27 14:07] RaananW commented on #537
Done

[2022-04-27 14:07] #537 closed, assigned to RaananW

[2022-04-27 20:35] KevBrown-MSFT opened #541 "Node Material Editor link missing in a couple of places in the docs"
The link to https://nme.babylonjs.com is missing in these locations:
- https://doc.babylonjs.com/toolsAndResources/tools/nme (look for "You can jump in and play around with it here:" - no link follows that line)
- https://doc.babylonjs.com/divingDeeper/materials/node_material/nodeMaterial#using-the-node-material-editor (look for "You can also use a standalone version of the editor here:" - no link

[2022-04-28 14:27] #541 closed, assigned to RaananW

[2022-04-29 11:10] OptiStrat opened #544 "info missing from lights_introduction page"
Some info seems to be missing in [this section](https://doc.babylonjs.com/divingDeeper/lights/lights_introduction#lighting-normals) of the doc. (At least a picture the text refers to.)

[2022-04-29 12:06] RaananW commented on #544
This is what I see:

![image](https://user-images.githubusercontent.com/1381702/165941046-4d5ccffc-b7cd-4785-93ff-faf261ef0f5c.png)

Do you see something different?

[2022-04-29 12:10] RaananW commented on #457
working for quite some time now :-) please reopen if it's still the case.

[2022-04-29 12:10] #457 closed, assigned to RaananW

[2022-04-29 12:37] OptiStrat commented on #544
Hmm... I didn't think the browser would have an impact on this... Clearly I was wrong.
Under Fedora 35, I see what you see in Chrome 100.0.4896.88, but in FireFox 99.0 this is what I see:

![image](https://user-images.githubusercontent.com/62603084/165944124-504d4cbf-5601-4399-8ebf-b773605e9978.png)

[2022-04-29 12:54] OptiStrat commented on #544
That seems to be happening on any documentation page with some images in it, actually.

[2022-05-02 10:31] RaananW commented on #544
The firefox was solved, but I see it's back there. I'll check that, thanks!

[2022-05-02 11:36] RaananW commented on #544
Ok, this seems to be an issue with firefox itself (and its decode mechanism):

https://bugzilla.mozilla.org/show_bug.cgi?id=1758035

the size is reported to be 1, 1 (which is what we are getting as well), instead of the right size. i'll see what we can do in the meantime

[2022-05-03 08:08] OptiStrat commented on #544
Thank you @RaananW for looking into this.
Apparently this stems from a 'bug' in the HTML spec, but hopefully the Mozilla team will fix their implementation soon. It'd be sad to have to switch to Chrome for casual browsing on Linux boxes...

[2022-05-03 11:48] RaananW commented on #544
I find it to be a shame that we don't support firefox. I will probably remove the next image support for the time being

[2022-05-05 14:01] RaananW opened #700 "Create an official template project for both UMD and ES6"
We should offer a very simple getting-started template for an npm-ready project that can be initialized using `npm init`.

[2022-05-12 03:40] rpaladin opened #558 "[Feature Request] Add iframe previews for tutorials list"
## User request

<img src="https://user-images.githubusercontent.com/69180012/167986805-b627818a-5f6b-47f7-b4fd-d01be8b81996.png" />

<hr />

Currently the official community tutorials list in the documentation section only contains links to videos and not thumbnail previews of the video links themselves.

I am aware that Github Pages does not support iframes, hence no displaying of thumbnails, bu

[2022-05-18 17:33] rdw-software opened #563 "Hovering over some headings visually shifts the subsequent paragraphs"
Tested on Chrome and Firefox. Example:

![image](https://user-images.githubusercontent.com/16489133/169105407-208f57c4-ef0d-4f65-8d23-e3cf2892a0ac.png)

Hovering the element causes an SVG icon to appear. This sometimes shifts the layout, as the size increases:

![image](https://user-images.githubusercontent.com/16489133/169105491-be764df4-7e47-4953-875e-bafb3f4458e9.png)

The difference is small b

[2022-05-18 20:17] #563 closed, assigned to nobody

[2022-06-02 10:01] ziiip opened #577 "Example of Packer with download need to be update"
There is a typo error in playground named "Texture Packer Download Example" (https://playground.babylonjs.com/#TQ408M#7), which is linked with https://github.com/BabylonJS/Documentation/blob/master/content/How_To/material/Creating_a_Texture_Package.md

"pack.downoad('jpeg', 0.325);" should be "pack.download('jpeg', 0.325);", the `l` is missing.

[2022-06-02 19:32] RaananW commented on #577
Thanks, I submitted a fix, it will be in in 10-15 minutes.

[2022-06-02 19:32] #577 closed, assigned to nobody

[2022-06-07 09:47] SimonDarksideJ opened #580 "Unity Exporter page is out of date and has broken links"
Using the Unity Exporter page today, I found numerous errors:

https://github.com/BabylonJS/Documentation/blob/master/content/resources/Unity/Projects.md

* Missing a fair amount of the required configuration (which show up as warnings with the latest eporter)
* The "Getting Started" video link is broken (in fact the whole babylontoolkit website is down)

[2022-06-12 04:38] lence-wl opened #586 "child node not follow parent, when i rotation the parent"
In chap3/animation, when i export in playground , then i use " BABYLON.SceneLoader.ImportMeshAsync " import, child node not follow parent, when i rotation the [parent]

[2022-06-14 11:53] RaananW commented on #586
@PirateJC - can you look into that?

[2022-06-14 12:25] #163 closed, assigned to RaananW

[2022-06-20 19:43] PirateJC commented on #586
Hi @lence-wl Can you provide us with any more information? What specific step are you following in the documentation?

Is it this page: https://doc.babylonjs.com/start/chap3/animation

Are you you referring to this playground: https://playground.babylonjs.com/#KDPAQ9#15

Where you import the car and apply animations to the wheels?

How are you exporting your models from the playground?

Thank you

[2022-06-20 19:55] PirateJC commented on #558
I like the idea! Any interest in doing a PR with the thumbnails? We welcome contributions from anyone/everyone!

[2022-06-20 21:43] PirateJC commented on #478
FYI - We've decided to remove this page as it's pretty outdated. That url now redirects to a more modern doc about cross-platform capabilities and options:

https://github.com/BabylonJS/Documentation/pull/588

[2022-06-20 21:43] #478 closed, assigned to nobody

[2022-06-21 09:54] RaananW commented on #534
Page reference - https://doc.babylonjs.com/toolsAndResources/tools/playground

[2022-06-30 08:56] ghost opened #597 "Please add Details about Rotation"
Please add Details to this article https://doc.babylonjs.com/divingDeeper/mesh/transforms/center_origin/rotation and mention the scale being used. I just wanted to hack something together quickly and id have liked to find information about how much i need to rotate to effectively rotate 90°. Theres no information about the units being used to rotate on the page.

[2022-07-01 19:33] carolhmj opened #600 "Add more examples and content to Material Plugins doc"
https://forum.babylonjs.com/t/add-more-examples-and-explanations-to-material-plugins-doc/30970

[2022-07-11 18:27] PirateJC opened #604 "Update Bone Documentation/Examples"
See this thread:

https://forum.babylonjs.com/t/most-basic-skeleton-example/32004/5

[2022-07-12 03:19] mrchantey opened #606 "[Feature Request] Collapse sidebar and examples"
The site looks great in 16:9 but can feel overcrowded in thinner ratios, alongside another window in 8:9 for instance.
I'd love to be able to collapse the sidebar and examples so that I can see the documentation, and especially the code examples, with less line breaks.
I noticed that the sidebar and examples go 'mobile friendly' at a certain width, I'd be super happy even with a `force mobile mode

[2022-07-20 19:31] arcman7 opened #615 "Dead links in docs"
---
title: Mesh Picking
image:
description: Learn how to pick meshes in Babylon.js.
keywords: diving deeper, meshes, interactions
further-reading:
    - title: Mesh Overview
      url: /divingDeeper/mesh/creation/set
    - title: Forum Pick with Ray
      url: https://www.html5gamedevs.com/topic/26503-scenepickwithray-blues/
    - title: Forum World Local Ray
      url: https://www.html5gamedevs.c

[2022-07-21 13:06] RaananW commented on #615
@PirateJC - we need to remove all of the html5gamedevs links, as they are all offline

[2022-07-22 14:56] RaananW commented on #392
@PirateJC - reminding you that this isue is open (to be considered when restructuring the docs)

[2022-07-22 16:02] #53 closed, assigned to RaananW

[2022-09-13 07:36] pavelfryz opened #642 "chap7/shadows playground is broken"
Shadow don't show, what fixed it for me is moving the
[code]
inside the ImportMesh callback, before the
[code]

[2022-09-13 09:39] RaananW commented on #642
Want to submit a PR with a fix?

[2022-09-13 09:53] RaananW commented on #544
This was resolved.

[2022-09-13 09:53] #544 closed, assigned to RaananW

[2022-09-13 10:00] RaananW commented on #534
updated, closing issue.

[2022-09-13 10:00] #534 closed, assigned to RaananW

[2022-09-13 13:52] #642 closed, assigned to nobody

[2022-09-14 16:18] PirateJC commented on #615
This is being addressed with the following PR:

https://github.com/BabylonJS/Documentation/pull/622

[2022-09-14 16:18] #615 closed, assigned to PirateJC

[2022-09-14 16:22] PirateJC commented on #586
Closing for now due to lack of response. Further clarity needed before taking action.